body {
    overflow-y: auto !important;
    max-height: 1px;
}

body a {
    color: #009fff;
    text-decoration: none;
}

.ui-toast-top-right {
    top: 20px;
    right: 20px;
    margin-top: 1px !important;
}

.ui-blockui {
    position: absolute;
    top: 145px !important;
    left: 60px !important;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.check {
    font-size: 18px;
    color: #3be116;
    margin-top: 18px;
    position: absolute;
    margin-left: -60px;
}

.main-body {
    height: 100% !important;
}

body .ui-state-disabled,
body .ui-widget:disabled {
    opacity: 0.55 !important;
    background: #e1e1e1 !important;
}

.required:after {
    content: "*";
    color: #ec5151;
    padding-left: 5px;
}

.ui-state-active,
body .ui-state-highlight {
    background-color: #8bc0f085 !important;
}


/*************acordion********************/

.ui-accordion .ui-accordion-content {
    padding: 0 !important;
}

.ui-state-active.ui-accordion {
    background-color: #f1f1f1 !important;
    color: black !important;
}


/*******************************************/


/**************tooltip********************/

body .ui-tooltip .ui-tooltip-text {
    background-color: #1e4c76 !important;
}


/****************************************/


/*************radiobutton***********/

body .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
    background-color: #ffffff !important;
}


/***************************/


/*********estilo scroll 2**********/

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #858585;
    border-radius: 20px;
    border: 1px solid #f1f2f3;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}


/************toast*******************************/

.ui-toast-top-right {
    top: 20px;
    right: 10px;
}

.ui-toast {
    position: fixed;
    width: 30%;
}

body .ui-toast .ui-toast-message.ui-toast-message-error {
    /* background-color: #f8b7bd; */
    background-color: #fb9090;
    border: 0 none;
    color: #212121;
}

body .ui-toast .ui-toast-message {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin: 0 0 1em 0;
}

.ui-toast .ui-toast-message {
    position: relative;
    display: block;
    margin-bottom: 0.75em;
    overflow: hidden;
    min-height: 50px;
}

.ui-toast .ui-toast-message-content {
    padding: 0.5em 1em;
    height: auto;
}

.ui-toast .ui-toast-message-text-content {
    padding: 0 0 0.25em;
    margin-left: 2.5em;
}

.ui-toast .ui-toast-summary {
    font-weight: 700;
    padding: 0 0 0.5em;
    display: block;
}

body .ui-toast .ui-toast-message.ui-toast-message-error .ui-toast-close-icon {
    color: #212121;
}

.ui-toast .ui-toast-close-icon {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    cursor: pointer;
    display: inline-block;
}

.ui-toast .pi-times:before {
    color: #000000;
}

.ui-toast .ui-toast-icon {
    position: absolute;
    display: inline-block;
    left: 0.5em;
    top: 0.25em;
    padding: 0;
    font-size: 2em;
}

.layout-wrapper .ui-toast-top-center,
.layout-wrapper .ui-toast-top-left,
.layout-wrapper .ui-toast-top-right {
    top: 5px;
}

.ui-messages {
    border: 0px solid !important;
    padding: 1em;
    margin: 1em 0;
    position: relative;
    display: -webkit-box;
    display: flex;
}

.ui-messages.ui-messages-error .ui-messages-close {
    color: #212121;
}

body .ui-messages .ui-messages-close {
    top: 0.25em;
    right: 0.5em;
    font-size: 1.5em;
    overflow: hidden;
    line-height: 1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.ui-messages .ui-messages-close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

.ui-messages.ui-messages-error .ui-messages-icon {
    color: #212121;
}

body .ui-messages .ui-messages-icon {
    font-size: 2em;
}

.ui-messages .ui-messages-icon {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    font-size: 2em;
}

.ui-messages ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ui-messages ul>li {
    padding: 0.25em;
}

.ui-messages .ui-messages-summary {
    font-weight: 700;
    margin-left: 0.25em;
}

.ui-messages .ui-messages-detail {
    margin-left: 0.25em;
}


/************fin toast*******************************/


/*******splash******************/


/*cambio wace splash*/

.splash-logo-intro {
    left: 50%;
    top: 49%;
    margin-left: -40px;
    margin-top: -35px;
    z-index: 2;
    position: absolute;
    height: 85px;
    padding-top: 0;
}


/*cambio wace splash*/

.splash-logo {
    top: 10%;
}

.splash-loader,
.splash-loader::before,
.splash-loader::after {
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: absolute;
    vertical-align: middle;
    background: #5b6bbf;
    /*cambio wace*/
    width: 100px;
    /*cambio wace*/
    height: 100px;
    /*cambio wace*/
    border-radius: 50%;
    z-index: 1;
}


/*******fin splash******************/


/******************dialog***********************/

.ui-icon {
    margin-top: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.ui-dialog .ui-dialog-titlebar {
    background: #314c65;
    padding: 0.5em 1em;
    color: #ffffff;
}

.ui-dialog .ui-dialog-titlebar-icons {
    float: right;
}

.ui-dialog-wrapper.ui-dialog-mask {
    pointer-events: auto;
}

body .ui-widget-overlay {
    background-color: #383a4eab !important;
}

.ui-dialog-mask {
    position: fixed;
    width: 100%;
    height: 100%;
}

.ui-dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.ui-dialog .ui-dialog-titlebar-icon {
    text-decoration: none;
    padding: 0.125em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
}

body .ui-dialog .ui-dialog-content {
    padding: 0.5em 1em;
    /* max-height: 600px; */
    overflow-y: hidden;
}

.ui-dialog .ui-dialog-footer button {
    margin: 0 0.5em 0 0;
    width: auto;
}

.ui-dialog .ui-dialog-footer {
    border: 0px solid #c8c8c8 !important;
    background-color: #ffffff;
    color: #333333;
    padding: 0.571em 1em;
    margin: 0;
    text-align: right;
    position: relative;
    border-top: 0 none;
}

.ui-widget-overlay {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body .ui-corner-all {
    border-radius: 3px;
}

body .ui-widget {
    font-size: 13px;
    text-decoration: none;
    /* padding-bottom: 2px; */
}

.ui-dialog-visible {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.ui-dialog,
.ui-dialog-visible {
    display: -ms-flexbox;
    display: flex;
}

.ui-dialog.ui-widget-content.ui-widget.customDialog {
    box-shadow: none !important;
    background-color: transparent !important;
    border: none;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
    color: #ffffff !important;
}

.menu .ui-dialog .ui-dialog-titlebar {
    background: #ffffff !important;
}


/*******************fin dialog************************/


/***************overlay************************/

.ui-overlaypanel .ui-overlaypanel-content {
    padding: 0.571em 1em;
}

.ui-overlaypanel {
    background-color: #ffffff;
    color: #333333;
    padding: 0;
    border: 1px solid #c8c8c8;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-overlaypanel {
    padding: 0;
    position: absolute;
    margin: 10px 0 0;
}

body .ui-overlaypanel .ui-overlaypanel-content {
    padding: 0.571em 1em;
}

.ui-overlaypanel:before {
    border-color: rgba(200, 200, 200, 0);
    border-bottom-color: #c8c8c8;
}

.ui-overlaypanel:before {
    margin-right: -10px;
}

.ui-overlaypanel:before {
    border-width: 10px;
    margin-left: -10px;
}

.ui-overlaypanel:after,
.ui-overlaypanel:before {
    bottom: 100%;
    left: 1.25em;
    border: solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

body .ui-overlaypanel:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
}

.ui-overlaypanel:after {
    border-width: 8px;
    margin-left: -8px;
}

.ui-overlaypanel:after,
.ui-overlaypanel:before {
    bottom: 100%;
    left: 1.25em;
    border: solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}


/******************form ***********************/

.form {
    background: #f9f9f9a8;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    padding: 15px 10px 0 10px !important;
    min-width: 25%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1.1;
}

.content-mail {
    height: 445px;
    overflow: auto;
    background: #fcfcfc;
    box-shadow: 2px 2px 2px 2px rgba(222, 222, 222, 1);
    border-radius: 6px;
    padding: 22px !important;
}


/***************************************/

#loadingfather {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    width: 65%;
    margin: auto;
    padding: 0%;
    position: relative;
}

.img-loading {
    display: inline-block;
    vertical-align: middle;
    width: 108px;
    height: 108px;
    background: url("/imagenes/loading1.gif") top left no-repeat;
    display: block;
}


/**********table**********************/

.ui-table .ui-table-tbody>tr>td {
    background: inherit;
    border: 1px solid #e4e2e2;
    color: #314c65 !important;
}

.ui-table .ui-table-tbody>tr.ui-state-highlight {
    background-color: #c3c7d2 !important;
    color: #ffffff;
    border: 2px solid #bebdbd !important;
}

body .ui-treetable .ui-treetable-tbody>tr.ui-state-highlight {
    background-color: #c3c7d2 !important;
    color: #ffffff;
    border: 2px solid #bebdbd !important;
}

body .ui-table .ui-table-thead>tr>th,
body .ui-table .ui-table-tfoot>tr>td {
    font-size: 13px;
    background-color: #f1f1f1;
    padding: 7px;
    border: 1px solid #eaeaea;
    color: #777777;
    border-bottom: 2px solid #dbdbdb;
}

body .ui-table .ui-table-caption,
body .ui-table .ui-table-summary {
    padding: 0.2em 1em !important;
}


/* .ui-table .ui-table-tbody > tr:nth-child(even) {
background-color: #fafafa85!important;
} */


/*******fin table***************/


/*********fieldset************/

body .ui-fieldset .ui-fieldset-legend a {
    background: #314c65 !important;
    color: #ffffff !important;
}

body .ui-fieldset .ui-fieldset-legend .ui-fieldset-toggler {
    color: #ffffff !important;
}


/******************************/


/************chkbox************/

body .ui-chkbox {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 20px;
    height: 20px;
}

.ui-chkbox {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 0.25em;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.ui-chkbox .ui-chkbox-box.ui-state-disabled {
    background-color: #1e4c76 !important;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

body .ui-chkbox .ui-chkbox-box {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    overflow: hidden;
    position: relative;
    font-size: 14px;
}

.ui-chkbox .ui-chkbox-icon {
    display: block;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    background-color: #1e4c76 !important;
}


/***************fin checkbox********************/


/*********tabview******************************/

.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
    background-color: #1e4c76 !important;
}

.ui-tabview.ui-tabview-top .ui-tabview-nav li a,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li a,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li a {
    padding: 0.5em 1em;
    color: #efeded !important;
}

.ui-tabview.ui-tabview-top .ui-tabview-nav li,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li {
    position: static;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #bfbfbf !important;
}


/***********************************************/


/********topbar ****************/

.layout-wrapper .topbar {
    height: 44px !important;
}

.layout-wrapper .topbar .topbar-menu {
    margin: 7px 15px 0 0 !important;
}

.layout-wrapper .topbar #topbar-menu-button {
    margin: 6px 20px 0 0 !important;
    font-size: 22px;
}

.layout-wrapper .topbar .morpheus-logo-link .morpheus-logo {
    vertical-align: middle;
    height: 38px !important;
    margin-top: -18px !important;
}

.layout-wrapper .layout-content {
    padding: 52px 10px 0 10px !important;
}

.layout-wrapper .topbar #menu-button {
    height: 44px !important;
    margin-top: -1px;
}

.layout-wrapper .topbar #menu-button span {
    margin-top: -7px;
}

.title-page {
    font-size: 14px;
    padding: 1px 0;
    margin: 0 0 0px 14px;
    color: #858585;
    font-weight: bold;
}

.title-page-father {
    background: #efeeee;
    font-size: 14px;
    padding: 4px 0;
    margin: 0 0 0px 0px;
    color: #858585;
    font-weight: bold;
    border-bottom: 1px solid#cccccc;
}

#container {
    min-height: 100%;
}


/**********************************/


/********side bar*************/

.side-menu {
    margin: 0 !important;
    height: 81px;
    border-bottom: 1px solid #625f5f;
}

.side-menu:hover {
    background: #656571;
}

.side-menu:active {
    background: #656571;
}

.layout-wrapper .layout-sidebar {
    position: fixed;
    top: 45px;
    height: 100%;
    width: 60px;
    background-color: #0b2a43;
    /* background-image: url("../imagenes/texture.png") !important; */
    z-index: 100;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}

.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li.active-item {
    background-color: #1e4c76;
}

.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li.active-item a i {
    color: #ffffff;
}

.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title {
    color: #ffffff;
    border-bottom: 1px solid #7b9fc1;
    padding: 4px;
    margin-right: 6px;
}

.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li:hover {
    background-color: #4a4a56;
    /*correción menu*/
}

.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents {
    position: absolute;
    width: 200px;
    left: 60px;
    top: 0;
    height: 100%;
    background-color: #4a4a56 !important;
    display: none;
}

.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li.active-menuitem>a {
    color: #e2d08c;
    font-weight: bold;
}

.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li.active-menuitem>a:hover {
    color: #e2d08c;
    font-weight: bold;
}

.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li>a:hover {
    background-color: #4a4a56;
    color: #ffffff;
}

.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li>a:active {
    color: #e2d08c;
}

.layout-tabmenu-content .inbox-tab ul li .name {
    color: #c3c5ad;
    font-size: 12px;
}


/**********fin side bar**************/


/**********input**********/

.contenedor {
    padding: 12px 12px 0 12px;
}

.ui-inputtext {
    width: 98% !important;
    resize: none;
}

.ui-inputtext-chat {
    height: 49px;
}


/* .ui-inputtext .ui-state-disabled {
opacity: 0.55 !important;
background: #e1e1e1 !important;
} */

textarea:focus,
input:focus,
input[type]:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: 1px solid #cfcfcf !important;
    border-radius: 3px !important;
}

*:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.ui-inputtext-disabled {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid #cccccc !important;
    background: transparent !important;
}

.required:after {
    content: "*";
    color: rgb(236, 81, 81);
    padding-left: 5px;
}


/**************************/


/************toolbar**********/

.padding-toolbar-searchbar {
    padding-top: 15px !important;
}

.ui-toolbar .ui-toolbar-separator {
    margin: 0 0.2em !important;
}

body .ui-toolbar {
    padding: 0 0 0 16px;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.25);
    height: 44px;
    margin: 0;
}

.ui-widget-header {
    background-color: #f1f1f1;
    color: #858585;
    border: 1px solid #eaeaea;
    font-weight: bold;
}

.landing-h3 {
    margin-bottom: 2px;
    text-align: left;
    margin-top: 4px;
    font-size: 12px !important;
    color: #7b7b93;
}

.ui-nopad {
    padding: 0 !important;
}


/************fin toolbar**********/


/********buttons****************/

body .ui-button {
    position: relative;
    background-color: #1e4c76;
}

body .ui-button.ui-state-default.ui-button-secondary,
body .ui-buttonset.ui-button-secondary>.ui-button.ui-state-default {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    color: #777777;
    box-shadow: 3px 3px 8px -8px rgba(0, 0, 0, 0.27);
    min-width: 30px;
}

.ui-button-login {
    padding: 10px 10px 10px 15px !important;
    margin-top: 30px !important;
    border-radius: 30px !important;
    background-color: #30acae;
    height: 40px;
    width: 90%;
}

.ui-button-edit {
    background-color: #1e4c76 !important;
    border-radius: 5px !important;
    color: #ffffff !important;
    height: 30px;
}

.button-cancel {
    background-color: #1e4c76 !important;
    border-radius: 5px !important;
    color: #ffffff !important;
    height: 30px;
}

.button-cancel:hover {
    background-color: #42719c !important;
    border-radius: 5px !important;
    color: #ffffff !important;
    height: 30px;
}

.ui-button-icon-excel {
    color: #ffffff;
    background-color: #26b926;
}

.ui-button-new {
    background-color: #dcbd49 !important;
    border-radius: 5px !important;
    color: #ffffff !important;
    height: 30px;
}

.ui-button-new:hover {
    background-color: #f3e09b !important;
}

body .ui-button.orange-btn {
    background-color: #81cc81 !important;
}

.ui-button-save {
    background-color: #8ad48a !important;
    border-radius: 5px !important;
    color: #ffffff !important;
    height: 30px;
}

.ui-button-responder {
    background-color: transparent !important;
    font-weight: 600;
    color: #8e8e8e !important;
}

.button-chat-ad {
    font-size: 15px;
    padding: 13px 13px;
    cursor: pointer;
    color: #4a4a56;
    background: #e1e0e0;
    border-radius: 5px;
    margin-right: 2px;
    font-size: 15px !important;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(112, 112, 112, 1);
    -moz-box-shadow: 0px 0px 5px -1px rgba(112, 112, 112, 1);
    box-shadow: 0px 0px 5px -1px rgba(112, 112, 112, 1);
}

.button-responder {
    padding: 10px 19px;
    font-size: 17px !important;
}

.button-chat-ad:hover {
    color: #ffffff;
    background: #1f4c76;
}

.ui-button-save:hover {
    background-color: #7da87d !important;
}

.ui-button-search {
    background-color: #1e4c76 !important;
    color: #ffffff !important;
    border-radius: 5px !important;
    height: 30px;
}

.ui-button-search:hover {
    background-color: #42719c !important;
}

.ui-button-circle {
    border-radius: 8px !important;
    margin-top: 15px !important;
}

.ui-button-delete {
    background-color: #ca5c5c !important;
    color: #ffffff !important;
    border-radius: 5px !important;
    height: 30px;
}

.ui-button-delete:hover {
    background-color: #cc8585 !important;
}

.ui-confirmdialog-rejectbutton:hover {
    background-color: #42719c !important;
}

.ui-confirmdialog-acceptbutton {
    background-color: #ca5c5c !important;
}

.ui-confirmdialog-acceptbutton:hover {
    background-color: #cc8585 !important;
}

.ui-button-edit-in-table {
    background-color: #1e4c76 !important;
}

.ui-button-edit-in-table:hover {
    background-color: #42719c !important;
}

.ui-button-icon-excel {
    font-size: 16px;
    color: #26b926;
}

.margin-label {
    margin-top: auto;
    margin-bottom: auto;
}

.ui-button-icon-pdf {
    font-size: 16px;
    color: #ff7777;
}

.ui-button-icon-backfront {
    font-size: 16px;
    color: #5428ce;
    /* margin-top: 10px; */
}

.ui-button-backfront {
    font-size: 0.1px !important;
}

.ui-check-ok {
    background-color: #b6e4b6;
}

.ui-check-na {
    background-color: #ffedcc;
}

.ui-check-nok {
    background-color: #ffabab;
}

.ui-check-transparent {
    background-color: #ffffff;
}

.ui-splitbutton.ui-buttonset .ui-button {
    border: 1px solid transparent;
    height: 30px;
}

body .ui-button:disabled {
    /*boton desabilitado*/
    opacity: 0.3;
    filter: Alpha(Opacity=35);
    background-image: none;
    cursor: default !important;
    /* background-color: #8a8a8a !important; */
    border-color: #d2d2d2 !important;
}

body .ui-button.ui-button-icon-only {
    width: 2.357em;
    height: 2.357em;
}

.ui-button-icon-only .ui-button-icon-left {
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -0.5em;
    width: 1em;
    height: 1em;
}

.ui-button-icon-only .ui-button-text,
.ui-button-text-empty .ui-button-text {
    padding: 0.25em;
    text-indent: -9999999px;
    display: block;
}

body .ui-button.ui-state-default.ui-button-home,
body .ui-buttonset.ui-button-home>.ui-button.ui-state-default {
    color: #ffffff;
    background-color: #5b6bbf;
    border: 1px solid #5b6bbf;
    width: 100%;
    border-radius: 30px;
    box-shadow: 4px 12px 19px -8px rgba(0, 0, 0, 0.75);
}

body .ui-selectbutton .ui-button {
    color: #000000 !important;
}

body .ui-selectbutton .ui-button.ui-state-active {
    color: #ffffff !important;
}

.ui-selectbutton .ui-button:hover {
    background-color: #1e4c76 !important;
    color: #ffffff !important;
}

.ui-selectbutton .ui-button.ui-state-active,
body .ui-state-highlight {
    background-color: #1e4c76 !important;
    color: #ffffff !important;
}

.numberofchats {
    margin: 0px 0 0px 175px;
    font-size: 14px;
    font-weight: unset;
    border-radius: 50%;
    height: 7px;
    width: 7px !important;
    padding: 0 !important;
    text-align: center;
    background: #dcbd49;
    text-align: center;
}

.validateticket {
    margin: -20px 0 0px 175px;
    width: 7px !important;
    padding: 0 !important;
}


/* .label-numberofchats
{
margin: 0px 0 0 -0.5px;
font-size: 13px;
padding: 0;
} */

.facebook-color {
    background: rgba(21, 166, 250, 1);
    background: -moz-linear-gradient( -45deg, rgba(21, 166, 250, 1) 0%, rgba(13, 138, 240, 1) 41%, rgba(3, 108, 228, 1) 100%);
    background: -webkit-gradient( left top, right bottom, color-stop(0%, rgba(21, 166, 250, 1)), color-stop(41%, rgba(13, 138, 240, 1)), color-stop(100%, rgba(3, 108, 228, 1)));
    background: -webkit-linear-gradient( -45deg, rgba(21, 166, 250, 1) 0%, rgba(13, 138, 240, 1) 41%, rgba(3, 108, 228, 1) 100%);
    background: -o-linear-gradient( -45deg, rgba(21, 166, 250, 1) 0%, rgba(13, 138, 240, 1) 41%, rgba(3, 108, 228, 1) 100%);
    background: -ms-linear-gradient( -45deg, rgba(21, 166, 250, 1) 0%, rgba(13, 138, 240, 1) 41%, rgba(3, 108, 228, 1) 100%);
    background: linear-gradient(135deg, rgba(21, 166, 250, 1) 0%, rgba(13, 138, 240, 1) 41%, rgba(3, 108, 228, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#15a6fa', endColorstr='#036ce4', GradientType=1);
}

.correo-color {
    background: rgb(255, 251, 251);
    background: linear-gradient(357deg, rgba(202, 92, 92, 1) 0%, rgba(202, 92, 92, 1) 44%, rgba(202, 92, 92, 1) 100%);
}

.telefono-color {
    background: #c88b0a;
}

.button-chat {
    width: 14px !important;
    height: 74px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top: 1px;
}

.instagram-color {
    background: rgb(105, 97, 167);
    background: linear-gradient(6deg, rgba(105, 97, 167, 1) 0%, rgba(105, 97, 167, 1) 24%, rgba(145, 75, 149, 1) 100%);
}

.whatsapp-color {
    background: #009661;
}

.button-canal-icon {
    margin-left: 2px;
    margin-top: 6px;
}

.button-menu {
    width: 310px !important;
    height: 100px;
    background: url("../imagenes/login/boton2.png") top left no-repeat !important;
}

.button-menu:hover {
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%);
}

.button-icon-menu {
    margin-top: 15px;
    margin-left: 39px;
    width: 45px;
}

.button-name-menu {
    margin-top: -29px;
    margin-left: 90px;
    color: #ffffff;
    text-align: center;
    font-size: 15px !important;
}

.button-salir {
    background-color: #ffffff !important;
    border: none !important;
    color: #525252 !important;
    font-size: 14px !important;
    box-shadow: none !important;
}


/*******************************/


/**********card bandeja cliente***********/

.image-messageschat {
    height: 38px;
    width: 38px !important;
    border-radius: 100%;
    -webkit-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 1);
    margin-top: 2px;
}

.icon-messageschat {
    height: 23px;
    width: 23px !important;
    margin-top: 26px;
    position: absolute;
    margin-left: -15px;
    border-radius: 50px;
    -webkit-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 1);
}

.icon-messageschatticket {
    height: 23px;
    width: 23px !important;
    margin-top: 26px;
    position: absolute;
    margin-left: -16px;
    border-radius: 50px;
    /* padding-left: 2px; */
    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 1);
}

.icon-chat {
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-left: 3.5px;
}

.icon-chat-ticket {
    height: 20px;
    width: 20px;
    margin-top: 9px;
    margin-left: 9px;
}

.flag-messages {
    width: 10px !important;
    height: 68.5px;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px;
    margin-top: -10px;
    margin-left: -15px;
}

.name-chat {
    color: #858585;
    font-size: 12px;
    font-weight: bold;
}

.message-chat {
    color: #9f9f9f;
    font-size: 12px;
}

.cotent-chat {
    padding: 1em !important;
    margin-bottom: 0 !important;
    height: 68.5px;
}

.cotent-chat:hover {
    background-color: #c3c7d2;
    cursor: pointer;
}

.top-card {
    text-align: center;
    height: 36px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


/*****************************************/


/****************FIELDSET*****************************/

.ui-fieldset .ui-fieldset-legend a {
    padding: 0.571em 1em;
    color: #333333;
    background-color: #f4f4f4;
    border-radius: 3px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.ui-fieldset-toggleable .ui-fieldset-legend a {
    padding: 0.5em 1em;
    cursor: pointer;
    white-space: nowrap;
    display: block;
}

body .ui-fieldset .ui-fieldset-legend {
    box-shadow: 1px 2px 13px -7px rgba(0, 0, 0, 0.75);
}

.ui-fieldset .ui-fieldset-content-wrapper-overflown {
    overflow: hidden;
}

body .ui-fileupload-choose:not(.ui-state-disabled):hover,
body .ui-fileupload-choose.ui-state-focus {
    background-color: #667299 !important;
}


/****************FIN FIELDSET*****************************/


/**********spinner***********/

.ui-fluid .ui-spinner {
    width: 100%;
}

body .ui-fluid .ui-spinner .ui-spinner-button {
    width: 2em;
}

.ui-spinner-input {
    vertical-align: middle;
    padding-right: 1.5em;
}

.ui-spinner {
    display: inline-block;
    overflow: visible;
    padding: 0;
    position: relative;
    vertical-align: middle;
}

.ui-spinner .ui-spinner-button.ui-spinner-up {
    border-top-right-radius: 3px;
}

.ui-spinner-up {
    top: 0;
}

.ui-spinner .ui-spinner-input {
    padding-right: 2.429em;
}

.ui-spinner-button {
    cursor: default;
    display: block;
    height: 50%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    vertical-align: middle;
    width: 1.5em;
}

body .ui-spinner .ui-spinner-button .ui-spinner-button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -0.5em;
    width: 1em;
}

.ui-spinner .ui-spinner-button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -0.5em;
    width: 1em;
}


/*****************************/


/**********card****************/

.h1-ticket {
    font-size: 12px;
    padding: 14px 0;
    margin: 0 0 14px 0;
    color: #5a5a5a;
    font-weight: bold;
    border-bottom: 1px solid #efefef;
}

.card h1 {
    font-size: 12px;
    padding: 14px 0;
    margin: 0 0 14px 0;
    color: #5a5a5a;
    font-weight: bold;
    border-bottom: 1px solid #efefef;
}

.card.card-w-title {
    padding: 5px;
}

.card-h3 {
    margin-bottom: 0px;
    text-align: left;
    margin-top: 0px !important;
    font-size: 12px !important;
    color: #7e7e86;
    font-weight: bold !important;
}

.card-form {
    font-size: 11px !important;
}

.card-h1 {
    font-size: 15px !important;
    text-transform: uppercase;
}

.card {
    padding: 10px !important;
}


/******************************/


/****************calendar***********************/

.ui-calendar {
    position: relative;
    display: inline-block;
    width: 100%;
}

.ui-calendar.ui-calendar-w-btn input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui-calendar .ui-calendar-button {
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 2em;
    border-left: 0 none;
}

.pi-calendar:before {
    content: "\e927";
}

body .ui-calendar.ui-calendar-w-btn .ui-inputtext {
    -moz-border-radius-topright: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    -moz-border-radius-bottomright: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 none;
    width: 80% !important;
    height: 30px;
    padding-bottom: 5px;
}

.ui-calendar .ui-inputtext.dashboardto {
    height: 37px !important;
}

body .ui-calendar .ui-datepicker {
    min-width: auto;
}

.ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
    width: 2em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 2.45em;
}

.ui-calendar .ui-button-icon-only .ui-button-icon-left,
.ui-button-text-icon-right .ui-button-icon-right {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    height: 1em;
}

body .ui-datepicker:not(.ui-datepicker-inline) {
    border: 1px solid #c8c8c8;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.ui-calendar .ui-datepicker {
    min-width: 100%;
}

body .ui-datepicker {
    padding: 0.857em;
    min-width: 20em;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #a6a6a6;
}

.ui-datepicker {
    width: auto;
    padding: 0.2em;
    position: absolute;
}

.ui-datepicker .ui-datepicker-group {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

body .ui-datepicker .ui-datepicker-header {
    padding: 0.429em 0.857em 0.429em 0.857em;
    background-color: #ffffff;
    color: #333333;
    border-radius: 0;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.5em 0;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
body .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
    cursor: pointer;
    top: 0;
    color: #a6a6a6;
    transition: color 0.2s, box-shadow 0.2s;
}

.ui-datepicker .ui-datepicker-prev {
    left: 0.125em;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 0.5em;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -0.5em;
    margin-left: -0.5em;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
    margin: 0;
    padding: 0;
    line-height: 1;
}

body .ui-datepicker table {
    font-size: 14px;
    margin: 0.857em 0 0 0;
}

.ui-datepicker table {
    width: 100%;
    font-size: 0.9em;
    border-collapse: collapse;
    margin: 0 0 0.4em;
}

.ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    color: #ffffff;
    background-color: #7f99b0 !important;
}

body .ui-datepicker table td.ui-datepicker-today>a,
body .ui-datepicker table td.ui-datepicker-today>span {
    background-color: #d0d0d0;
    color: #333333;
}

.ui-datepicker .ui-datepicker-next {
    right: 0.125em;
}

body .ui-datepicker table td>a {
    cursor: pointer;
}

body .ui-datepicker table td>a,
body .ui-datepicker table td>span {
    display: block;
    text-align: center;
    color: #333333;
    padding: 0.5em;
    transition: box-shadow 0.2s;
    border-radius: 3px;
}

.ui-datepicker td>span,
.ui-datepicker td>a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    border: 0 none;
    text-align: center;
}

body .ui-datepicker.ui-datepicker-timeonly .ui-timepicker {
    border-top: 0 none;
}

body .ui-datepicker .ui-timepicker {
    border: 0 none;
    border-top: 1px solid #d8dae2;
    padding: 0.857em;
}

.ui-timepicker {
    text-align: center;
    padding: 0.5em 0;
}

.ui-timepicker>.ui-separator {
    margin-left: 0;
    min-width: 0.75em;
}

.ui-timepicker>div {
    display: inline-block;
    margin-left: 0.5em;
    min-width: 1.5em;
}

.ui-datepicker .ui-timepicker a {
    color: #333333;
    font-size: 1.286em;
}

.ui-timepicker>div a {
    display: block;
    opacity: 0.7;
    filter: Alpha(Opacity=70);
    cursor: pointer;
}

.ui-datepicker .ui-timepicker span {
    font-size: 1.286em;
}

.ui-timepicker>div a:last-child {
    margin-top: 0.3em;
}

.ui-timepicker>.ui-separator a {
    visibility: hidden;
}

.ui-datepicker .ui-datepicker-buttonbar {
    border-top: 1px solid #d8dae2;
}

.ui-datepicker .ui-datepicker-buttonbar {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    display: -ms-flexbox;
    -ms-flex-pack: justify;
}

.ui-fluid .ui-datepicker-buttonbar button {
    width: auto;
}

.ui-datepicker .ui-datepicker-buttonbar>.ui-g>div:last-child {
    text-align: right;
}

.ui-datepicker .ui-datepicker-buttonbar>.ui-g>div:first-child {
    text-align: left;
}

.ui-datepicker .ui-datepicker-buttonbar>.ui-g>div {
    padding: 0;
}

.ui-g-6 {
    width: 50%;
}

.ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {
    float: left;
    box-sizing: border-box;
    padding: 0.5em;
}


/*************fin calendar************************/


/***************dropbox****************/

body .ui-dropdown {
    background: #ffffff;
    transition: border-color 0.2s, box-shadow 0.2s;
    vertical-align: -webkit-baseline-middle;
}

.ui-dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    min-width: 95% !important;
    max-width: 95% !important;
    height: 26px;
}

.ui-dropdown-panel .ui-dropdown-items-wrapper {
    overflow: auto;
}

.ui-dropdown .ui-dropdown-label {
    display: block;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    padding-right: 0;
    width: 100%;
    font-size: 12px;
    padding-left: 12px;
}

.ui-dropdown.ui-state-disabled .ui-dropdown-trigger,
.ui-dropdown.ui-state-disabled .ui-dropdown-label {
    background: #e8e6e6 !important;
}

.ui-dropdown label.ui-dropdown-label {
    cursor: pointer;
    text-align-last: left !important;
}

.ui-dropdown-label-container {
    width: 100% !important;
}

.ui-dropdown-panel .ui-dropdown-items {
    margin: 0;
}

body .ui-dropdown .ui-dropdown-trigger {
    background-color: #ffffff;
    width: 2em;
    line-height: 2em;
    text-align: center;
    padding: 0;
    color: #848484;
}

.ui-dropdown .ui-dropdown-trigger {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: 1.5em;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0.25em;
}

.ui-dropdown-panel {
    position: absolute;
    height: auto;
    min-width: 100%;
}

.ui-dropdown-panel .ui-dropdown-item {
    font-weight: normal;
    border: 0 none;
    cursor: pointer;
    margin: 1px 0;
    padding: 0.125em 0.25em;
    text-align: left;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group {
    margin: 0;
    padding: 0.429em 0.857em;
    border: 0 none;
    background-color: transparent;
    border-radius: 0;
    font-size: 11px;
}

body .ui-dropdown .ui-dropdown-clear-icon {
    color: #ff7777;
}

.ui-dropdown .ui-dropdown-clear-icon {
    position: absolute;
    right: -295px;
    top: 50%;
    font-size: 1em;
    height: 1em;
    margin-top: -0.5em;
}

.ui-dropdown-panel .ui-dropdown-filter-container {
    padding: 0.429em 0.857em 0.429em 0.857em;
    border-bottom: 1px solid #eaeaea;
    color: #333333;
    background-color: #ffffff;
    margin: 0;
}

body .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter {
    width: 100%;
    padding-right: 2em;
}

.ui-dropdown-panel .ui-dropdown-filter {
    width: 100%;
    box-sizing: border-box;
    padding-right: 1.5em;
}

.ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon {
    top: 50%;
    margin-top: -0.5em;
    right: 1.357em;
    color: #5b6bbf;
}

.ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon {
    position: absolute;
    top: 0.8em;
    right: 1em;
}

body .ui-dropdown-panel .ui-dropdown-filter-container .pi {
    top: 20px;
    right: 25px;
}

body .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
    border: 1px solid #7e8085 !important;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}


/***************inputswitch********************/

.ui-inputswitch {
    position: relative;
    display: inline-block;
    width: 3.723em !important;
    top: 7.5px;
    z-index: 9999;
    margin-right: 10px;
    height: 1.6em !important;
}

body .ui-inputswitch.ui-inputswitch-checked.ui-inputswitch-focus .ui-inputswitch-slider {
    background-color: #ffffff;
    border-color: #d5b94b !important;
}

body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #dec66d !important;
    border: 2px solid #d5b94b;
}

body .ui-inputswitch .ui-inputswitch-slider {
    -moz-transition: background-color 0.2s, box-shadow 0.2s !important;
    -o-transition: background-color 0.2s, box-shadow 0.2s !important;
    -webkit-transition: background-color 0.2s, box-shadow 0.2s !important;
    transition: background-color 0.2s, box-shadow 0.2s !important;
    border-radius: 30px !important;
    background: #cccccc !important;
}

.ui-inputswitch-slider {
    position: absolute !important;
    cursor: pointer !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    transition: 0.3s !important;
    border-radius: 30px !important;
}

body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
    -webkit-transform: translateX(1.25em);
    -ms-transform: translateX(1.25em);
    transform: translateX(1.25em);
    top: 1px;
    left: 10px !important;
}

body .ui-inputswitch .ui-inputswitch-slider:before {
    background-color: #ffffff !important;
    height: 1.1em !important;
    width: 1.1em !important;
    left: 0.3em !important;
    bottom: 0.25em !important;
    border-radius: 50% !important;
    transition: 0.2s !important;
}

.ui-inputswitch-slider:before {
    position: absolute;
    content: "";
    height: 1.25em;
    width: 1.25em;
    left: 0.25em;
    bottom: 0.25em;
    border-radius: 50%;
    transition: 0.3s;
}

.ui-inputswitch-checked .ui-inputswitch-slider:before {
    -ms-transform: translateX(1.25em);
    transform: translateX(1.25em);
}

.ui-helper-hidden-accessible input,
.ui-helper-hidden-accessible select {
    -ms-transform: scale(0);
    transform: scale(0);
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    -webkit-appearance: checkbox;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}


/***************fin inputswitch****************/

.icon-visible {
    visibility: hidden;
    display: none;
}


/***********media******************/

@media (max-width: 640px) {
    body .ui-toolbar {
        padding: 0.5em 1em;
        box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.25);
        height: 58px !important;
    }
    .card-h3 {
        margin-bottom: 2px;
        text-align: left;
        margin-top: 2px !important;
        font-size: 11px !important;
        color: #7b7b93;
    }
    .ui-button-text {
        font-size: 0px;
    }
    .icon-visible {
        visibility: visible;
        display: inline;
        font-size: 17px;
        padding-left: 13px;
    }
    .ui-selectbutton .ui-button .ui-button-text {
        font-size: 12px !important;
    }
    .ui-fileupload-choose {
        width: 30px !important;
        height: 30px !important;
    }
}


/*************facebook chat************************/

.header-fb {
    height: 45px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: #0b2a43;
    color: #ffffff;
}

.img-face {
    height: 35px;
}

.form-face {
    background: #f9f9f9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #cccccc;
    min-height: 435px;
}


/**************************formularios*******************/

.boton-calificacion {
    width: 100%;
    height: 24px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}

.ui-sidebar-close {
    float: right;
    position: relative;
    z-index: 10;
    font-size: 0px;
}

html {
    height: 100%;
    overflow: hidden;
}

.navbar {
    overflow: hidden;
    background-color: #777676;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9;
    padding: 0.5em 1em;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.25);
    height: 44px;
    padding: 0;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin: 50px auto;
    height: 1px;
    /* min-height: 100vh; */
}

.container-content {
    border: 1px solid #eaeaea;
}

.ui-sidebar-full {
    overflow: hidden !important;
}

.title-form {
    background: #1e4c76;
    text-align: center;
    color: #ffffff;
    padding: 0 10px !important;
}

.subtitle-form {
    padding: 0 10px;
    background: #eae7e7;
    margin: 0;
    color: #303561;
}

.subtitle-form-n2 {
    background: #f6f4f4a6;
    margin: 0;
}


/* @media (min-width: 1679px) {
    .container {
        max-width: 1400px;
    }
} */

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


/**************facebook*****************/

#kont .bar {
    position: relative;
    width: 100%;
    min-height: 52px;
    background: #e6e6e6;
    border-radius: 5px 5px 0 0;
    color: #777777;
}

#chat .send img {
    position: absolute;
    bottom: 3px;
    right: 3px;
}

#chat .img {
    position: absolute;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    top: 2.5px;
    background-size: contain;
}

.name2 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#kont .name {
    padding-top: 20px;
    padding-left: 15px;
}

.padding-kont {
    margin-left: 6%;
}

.padding-form {
    margin-left: 1%;
}

#kont {
    position: relative;
    min-height: 100%;
    border-radius: 5px;
    border: 0px solid #cccccc;
}

#kont #backgroundofkont {
    width: 100%;
    background: #ffffff;
}

#messages {
    height: 460px;
    margin: 1px 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 12px;
    border: 1px solid #cccccc;
    scroll-behavior: smooth;
}

#kont #messages li {
    position: relative;
}

#kont .a {
    list-style-type: none;
    position: absolute;
    word-wrap: break-word;
    box-shadow: 0 1px 1px grey;
    border-radius: 5px 0 5px 5px;
    padding: 15px;
    background: #dcebf8;
    color: black;
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 52%;
    margin-right: 0;
    border-right: 1px solid #4b667e;
    border-bottom: 1px solid #4b667e;
    width: 45%;
}

#chat .message {
    padding: 20px;
    color: #fff;
    line-height: 25px;
    max-width: 90%;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
}

#chat-correo .message {
    padding: 20px;
    color: #fff;
    line-height: 25px;
    max-width: 90%;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
}

#chat .comentario {
    font-size: 11px !important;
    margin-left: 0px;
    color: #777777 !important;
    margin-top: -12px;
    text-align: left;
}

#chat .contestar {
    font-size: 13px !important;
    color: #777777 !important;
    margin-top: 3px;
    text-align: end;
}

#chat .contestar-facebook {
    font-size: 11px !important;
    color: #777777 !important;
    text-align: end;
}

.form-container {
    position: absolute;
    top: 151px;
    bottom: 0;
    /* width: 95%; */
    left: 68px;
    right: 2px;
    overflow: auto;
}

main footer {
    border-bottom: 2px solid #cccccc;
}

@media (max-width: 1024px) {
    .layout-wrapper.layout-wrapper-menu-active .form-container {
        overflow-y: auto;
    }
    #chat {
        overflow-y: auto;
        padding: 0;
        overflow-x: hidden;
        height: 536px;
    }
    .ui-menu.ui-menu-dynamic {
        top: auto !important;
        bottom: 19%;
        left: 5.5px !important;
    }
    #chat-correo {
        overflow-y: auto;
        padding: 0;
        overflow-x: hidden;
        height: 536px;
        background: #ffffff;
    }
}

@media (min-width: 1025px) {
    .layout-wrapper.layout-wrapper-menu-active .form-container {
        position: absolute;
        top: 151px;
        bottom: 0;
        /* width: 83.5%; */
        right: 2px;
        left: 269px;
    }
    .layout-wrapper.layout-wrapper-menu-active #messages {
        margin: 1px 0;
        overflow: auto;
        padding-left: 12px;
        border-left: 1px solid #cccccc;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        top: 51px;
        bottom: 0;
        width: 98.5%;
        border-width: 1px;
    }
    main footer {
        position: absolute;
        width: 75%;
        min-height: 65px;
        border-radius: 0px 0px 5px 5px;
        bottom: 0px;
        padding: 0;
        background: #f1f1f1;
        border: 1px solid #dfdfdf;
        border-bottom: 2px solid #cccccc;
        overflow: hidden;
    }
    #chat {
        padding-left: 0;
        list-style-type: none;
        overflow-y: scroll;
        /* height: 535px; */
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        margin: 1px 0;
        overflow: auto;
        padding-left: 12px;
        border-left: 1px solid #cccccc;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        top: 61px;
        bottom: 69px;
        width: 74%;
        background: #ffffff;
    }
    #chat-correo {
        padding-left: 0;
        list-style-type: none;
        overflow-y: scroll;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        margin: 1px 0;
        overflow: auto;
        padding-left: 12px;
        border-left: 1px solid #cccccc;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        top: 88px;
        bottom: 71px;
        width: 74.2%;
        background: #ffffff;
        /* z-index: 1; */
    }
    .chat2 {
        height: 535px;
        width: 100% !important;
        border: 1px solid #cccccc !important;
    }
    .ui-menu.ui-menu-dynamic {
        top: auto !important;
        bottom: 9%;
        left: 5.5px !important;
    }
}

#chat .me {
    text-align: right;
    padding: 0;
}

#chat .you .message {
    background-color: #dcebf8;
    color: #393b38;
    box-shadow: 0 1px 1px grey;
}

#chat-correo .you .message {
    background-color: #dcebf8;
    color: #393b38;
    box-shadow: 0 1px 1px grey;
}

#chat .me .message {
    background-color: #1f4c76;
    box-shadow: 0 1px 1px grey;
}

#chat .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
}

#chat .you .triangle {
    border-color: transparent transparent #dcebf8 transparent;
    margin-left: 15px;
}

#chat .me .triangle {
    border-color: transparent transparent #f9f9f9 transparent;
    margin-left: 375px;
}

#container {
    /* width: 750px; */
    /* height: 800px; */
    background: #f9f9f9;
    margin: 0 auto;
    font-size: 0;
    border-radius: 5px;
    overflow: hidden;
}

aside {
    width: 260px;
    height: 800px;
    background-color: #3b3e49;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}

main {
    font-size: 15px;
    vertical-align: top;
}

aside header {
    padding: 30px 20px;
}

aside input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 50px 0 20px;
    background-color: #5e616a;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
    background-repeat: no-repeat;
    background-position: 170px;
    background-size: 40px;
}

aside input::placeholder {
    color: #fff;
}

aside ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 690px;
}

aside li {
    padding: 10px 0;
}

aside li:hover {
    background-color: #5e616a;
}

aside li img {
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 8px;
}

aside li div {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
}

aside li h2 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 5px;
}

aside li h3 {
    font-size: 12px;
    color: #7e818a;
    font-weight: normal;
}

main header {
    background: #e6e6e6;
    padding: 9px 19px 8px 12px;
}

main header>* {
    display: inline-block;
    vertical-align: top;
}

main header img:first-child {
    border-radius: 50%;
}


/* main header img:last-child {
    width: 24px;
    margin-top: 8px;
} */

main header h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

main header h3 {
    font-size: 14px;
    font-weight: normal;
    color: #7e818a;
}

#chat li {
    padding: 7px 30px;
}

#chat h2,
#chat h3 {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}

#chat h3 {
    color: #bbb;
}

#kont .b {
    margin-right: 60%;
    margin-top: 5px;
    list-style-type: none;
    word-wrap: break-word;
    border-radius: 0 5px 5px 5px;
    padding: 15px;
    background: #1f4c76;
    color: white;
    font-family: sans-serif;
    box-shadow: 0 2px 5px grey;
    width: 45%;
}

#kont .e {
    margin-right: 60%;
    margin-top: 13px;
    list-style-type: none;
    word-wrap: break-word;
    border-radius: 0 5px 5px 5px;
    padding: 2px;
    background: transparent;
    color: white;
    background-size: cover;
    font-family: sans-serif;
    box-shadow: 0 2px 5px grey;
    width: 30%;
}

#kont .f {
    list-style-type: none;
    position: absolute;
    word-wrap: break-word;
    box-shadow: 0 1px 1px grey;
    border-radius: 5px 0 5px 5px;
    padding: 15px;
    background: #dcebf8;
    color: black;
    font-family: sans-serif;
    margin-top: 13px;
    margin-left: 67%;
    margin-right: 0;
    border-right: 1px solid #4b667e;
    border-bottom: 1px solid #4b667e;
    width: 30%;
    right: 0;
}

.text textarea {
    /* position: absolute; */
    bottom: 0px;
    width: 91%;
    height: 42px;
    resize: none;
    top: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
}

.text-f textarea {
    /* position: absolute; */
    bottom: 0px;
    width: 100%;
    height: 42px;
    resize: none;
    top: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
}

.kont .comentario {
    font-size: 11px !important;
    margin-left: 0px;
    color: #8e8e8e !important;
    margin-top: -4px;
}

#kont .contestar {
    font-size: 13px !important;
    color: #777777 !important;
    margin-top: 3px;
    margin-left: 55%;
}

#kont .contestar-facebook {
    font-size: 11px !important;
    color: #8e8e8e !important;
    margin-top: 3px;
    margin-left: 80%;
}

#kont .contestar-img {
    font-size: 11px !important;
    color: #8e8e8e !important;
    margin-top: 3px;
    margin-left: 66%;
}

#kont .send {
    margin-top: 10px;
    text-align: right;
}


/*
#kont #backgroundofkont {
overflow: scroll;
overflow-x: hidden;
} */


/***************instagram************************/

#kont-instagram {
    position: relative;
    border-radius: 5px;
}

.instagram-container {
    min-height: 100%;
}

.kont-chat {
    border-right: 1px solid #cccccc !important;
    border-left: 0 !important;
}

.img-instagram {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 8px;
    /* position: absolute; */
    background: #bfbdbd;
}

.likes-hidden {
    text-align: center;
    margin-left: 36%;
    margin-top: 212px;
    font-size: 30px !important;
}

.likes-padding {
    padding: 5px;
}

#kont-instagram .footer {
    position: absolute;
    width: 100%;
    min-height: 65px;
    border-radius: 0px 0px 5px 5px;
    bottom: 0px;
    padding: 0;
    background: #f1f1f1;
    border: 1px solid #dfdfdf;
}


/*************************************************/


/******************editor***********************/

.ql-toolbar.ql-snow {
    padding: 3px !important;
}

.toolbar-send {
    border: 1px solid#ece0e0;
    padding: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #f9f9f9;
}


/***********************************************/

.div-visible {
    width: 0% !important;
}


/************dashboard**************************/

.content-multiselect {
    background: #efeeee;
    border-radius: 6px;
    box-shadow: -1px 0px 16px -11px rgba(150, 150, 150, 0.67);
}

.content-icon {
    padding: 6px 5px;
    color: #4a4a56;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background: #537da4;
    color: #eaeaea;
}

.content-icon2 {
    background: #e2d08c;
    color: #4a4a56;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.card-color {
    color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(222, 222, 222, 1);
    -moz-box-shadow: 2px 2px 2px 2px rgba(222, 222, 222, 1);
    box-shadow: 2px 2px 2px 2px rgba(222, 222, 222, 1);
}

.icon-card {
    font-size: 70px !important;
    margin-left: 26px;
    margin-top: 19px;
}

.icon2-card {
    font-size: 70px !important;
    margin-left: 17px;
    margin-top: 17px;
}

.title-card {
    font-size: 16px;
    font-weight: bold;
}

.subtitle-card {
    font-size: 16px;
    padding: 0 0 0 28px;
}

.comment-card {
    font-size: 17px;
    padding-left: 20px;
}

.h1-title-card {
    font-size: 14px !important;
    margin-left: 10px !important;
    color: #777777 !important;
}


/**************multiselect ************************/

:host ::ng-deep .ui-multiselected-item-token,
:host ::ng-deep .ui-multiselected-empty-token {
    padding: 2px 4px;
    margin: 0 0.286em 0 0;
    display: inline-block;
    vertical-align: middle;
    height: 1.857em;
}

:host ::ng-deep .ui-multiselected-item-token {
    background: #007ad9;
    color: #ffffff;
}

:host ::ng-deep .ui-multiselected-empty-token {
    background: #d95f00;
    color: #ffffff;
}

.ui-multiselect {
    background: #ffffff;
    border: 1px solid #a6a6a6;
    transition: border-color 0.2s, box-shadow 0.2s;
    min-width: 93%;
    height: 30px;
}

.ui-multiselect:disabled {
    background: red;
}

.ui-multiselect {
    display: inline-block;
    position: relative;
    width: auto;
    cursor: pointer;
}

.ui-multiselect .ui-multiselect-label-container {
    overflow: hidden;
}

.ui-multiselect .ui-multiselect-label {
    padding: 0.429em !important;
    padding-right: 2em;
    color: #000000;
}

.ui-multiselect .ui-multiselect-trigger {
    background-color: #ffffff;
    width: 2em;
    line-height: 2em;
    text-align: center;
    padding: 0;
    color: #848484;
}

.ui-multiselect .ui-multiselect-trigger .ui-multiselect-trigger-icon {
    top: 50%;
    left: 100%;
    margin-top: -0.5em;
    margin-left: -1.2em;
    position: absolute;
}

.ui-multiselect .ui-multiselect-panel {
    min-width: 100%;
}

.ui-multiselect-panel {
    padding: 0.2em;
    position: absolute;
    min-width: 12em;
}

body .ui-multiselect-panel {
    padding: 0;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.ui-multiselect-header {
    margin-bottom: 0.3em;
    padding: 0.25em;
    position: relative;
    text-align: left;
    min-height: 2em;
}

.ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item .ui-chkbox {
    position: static;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
}

.ui-multiselect-panel .ui-multiselect-header .ui-multiselect-filter-container .pi {
    left: 90% !important;
    position: absolute;
}

.ui-multiselect-header .ui-chkbox {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.ui-helper-hidden-accessible input,
.ui-helper-hidden-accessible select {
    transform: scale(0);
}

.ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item {
    margin: 0;
    padding: 0.129em 0.557em !important;
    border: 0 none;
    color: #333333;
    background-color: transparent;
    transition: background-color 0.2s, box-shadow 0.2s;
    border-radius: 0;
    font-size: 10px;
}

.ui-multiselect-panel .ui-multiselect-items {
    padding: 0;
}

.ui-multiselect-panel .ui-multiselect-list {
    border: 0 none;
}

.ui-multiselect-panel .ui-multiselect-header .ui-multiselect-filter-container .ui-inputtext {
    padding: 0.429em;
    padding-right: 2em;
}

.ui-multiselect-header .ui-multiselect-close {
    position: absolute;
    right: 0.375em;
    top: 0.375em;
    display: block;
    border: 0 none;
    cursor: pointer;
}

.ui-multiselect-header .ui-multiselect-filter-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 65%;
}


/************inputgroup*******/

.ui-inputgroup {
    display: flex;
}

body .ui-inputgroup .ui-inputgroup-addon:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

body .ui-inputgroup .ui-inputgroup-addon {
    border-color: #a6a6a6;
    background-color: #d1d1d1;
    color: #515151;
    padding: 3px 0px;
    min-width: 2.1em;
}

.icons {
    background-color: #e2d08c;
}

.ui-inputgroup .ui-inputgroup-addon {
    display: inline-block;
    text-align: center;
    min-width: 1.5em;
    padding: 0.25em;
    border-width: 1px;
    border-style: solid;
}

.ui-inputgroup .ui-inputtext:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

.ui-inputgroup .ui-inputtext {
    padding-left: 0.5em;
}

.ui-inputgroup .ui-inputgroup-addon {
    display: inline-block;
    text-align: center;
    min-width: 1.5em;
    padding: 0.25em;
    border-width: 1px;
    border-style: solid;
}

body .ui-inputgroup .ui-button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ui-inputgroup .ui-button {
    margin-right: 0;
    border-radius: 0;
}


/********fin inputgroup***********/


/**************TABVIEW**********************************/

.ui-tabview.ui-tabview-top .ui-tabview-nav li a,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li a,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li a {
    padding: 0.5em 1em;
    color: #5a5a5a !important;
}

.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active a,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active a,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active a {
    color: #ffffff !important;
}

body .ui-tabview.ui-tabview-top,
body .ui-tabview.ui-tabview-bottom,
body .ui-tabview.ui-tabview-left,
body .ui-tabview.ui-tabview-right {
    border: 0 none;
}

body .ui-tabview {
    padding: 0;
    background: transparent;
}

.ui-tabview.ui-tabview-top .ui-tabview-nav {
    margin-bottom: -1px;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav,
body .ui-tabview.ui-tabview-left .ui-tabview-nav,
body .ui-tabview.ui-tabview-right .ui-tabview-nav {
    padding: 0;
    background: transparent !important;
    border: 0 none;
}

.ui-tabview.ui-tabview-top>.ui-tabview-nav {
    padding: 0.2em 0.2em 0;
}

.ui-tabview .ui-tabview-nav {
    margin: 0;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li {
    margin-right: 2px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.ui-tabview .ui-tabview-nav li {
    display: block;
}

.ui-tabview .ui-tabview-nav li {
    list-style: none;
    float: left;
    position: relative;
    margin: 0 0.125em 1px 0;
    padding: 0;
    white-space: nowrap;
}

.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-tabview-selected a,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-tabview-selected a,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-tabview-selected a,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-tabview-selected a {
    cursor: pointer;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active a,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active a,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active a {
    color: #ffffff;
}

.ui-tabview .ui-tabview-nav li.ui-tabview-selected a,
.ui-tabview .ui-tabview-nav li.ui-state-disabled a,
.ui-tabview .ui-tabview-nav li.ui-state-processing a {
    cursor: text;
}

.ui-tabview .ui-tabview-nav li a,
.ui-tabview.ui-tabview-collapsible .ui-tabview-nav li.ui-tabview-selected a {
    cursor: pointer;
}

.ui-tabview .ui-tabview-nav li a {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}

.ui-tabview.ui-tabview-top .ui-tabview-nav li a .ui-tabview-left-icon,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a .ui-tabview-left-icon,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li a .ui-tabview-left-icon,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li a .ui-tabview-left-icon {
    margin-right: 0.5em;
}

.ui-tabview .ui-tabview-nav li .ui-tabview-left-icon {
    margin-right: 0.25em;
    vertical-align: middle;
}

.ui-tabview .ui-tabview-title {
    vertical-align: middle;
}

.ui-tabview.ui-tabview-top .ui-tabview-nav li {
    margin-right: 2px;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li {
    border: 1px solid #c8c8c8;
    background-color: #f4f4f4;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.ui-tabview.ui-tabview-top>.ui-tabview-nav li {
    border-bottom: 0;
    top: 1px;
}

.ui-tabview .ui-tabview-nav li {
    display: block;
}

.ui-tabview .ui-tabview-nav li {
    list-style: none;
    float: left;
    position: relative;
    margin: 0 0.125em 1px 0;
    padding: 0;
    white-space: nowrap;
}

.ui-tabview .ui-tabview-nav li a,
.ui-tabview.ui-tabview-collapsible .ui-tabview-nav li.ui-tabview-selected a {
    cursor: pointer;
}

.ui-tabview .ui-tabview-nav li a {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}

.ui-tabview.ui-tabview-top .ui-tabview-nav li a .ui-tabview-left-icon,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a .ui-tabview-left-icon,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li a .ui-tabview-left-icon,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li a .ui-tabview-left-icon {
    margin-right: 0.5em;
}

.ui-tabview .ui-tabview-nav li .ui-tabview-left-icon {
    margin-right: 0.25em;
    vertical-align: middle;
}

.ui-tabview .ui-tabview-panels {
    background-color: #ffffff;
    padding-top: 0.571em;
    border: 1px solid #fafafa;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.ui-tabview .ui-tabview-panels .ui-tabview-panel {
    padding: 0;
}

.ui-tabview .ui-tabview-panel {
    border-width: 0;
    padding: 1em;
    background: 0;
}

body .ui-helper-reset {
    line-height: normal;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-hidden {
    display: none !important;
}

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
    content: "";
    display: table;
}

.ui-helper-clearfix::after {
    clear: both;
}


/**************FIN TABVIEW******************************/


/****************media**************************/

@media (max-width: 1660px) {
    .div-visible {
        visibility: hidden;
        display: none;
    }
}

@media (max-width: 1500px) {
    .instagram-img-container {
        visibility: hidden;
        display: none;
    }
    .instagram-chat {
        width: 100% !important;
    }
    .ui-multiselect {
        min-width: 90%;
    }
    #kont .a {
        margin-left: 51%;
    }
    #kont .f {
        margin-left: 66%;
    }
}

@media (max-width: 1399px) {
    .padding-kont {
        margin-left: 3%;
    }
    #kont .contestar-facebook {
        margin-left: 83%;
    }
}

@media (max-width: 1310px) {
    .padding-kont {
        margin-left: 1%;
    }
}

@media (max-width: 1273px) {
    #kont .contestar-facebook {
        margin-left: 80%;
    }
}

@media (max-width: 1150px) {
    body .ui-toolbar {
        height: auto;
    }
    .padding-kont {
        margin-left: 0%;
    }
    #kont .a {
        margin-left: 50%;
    }
    #kont .f {
        margin-left: 65%;
    }
}

@media (max-width: 1130px) {
    #kont .contestar-facebook {
        margin-left: 76%;
    }
}

@media (max-width: 920px) {
    .check {
        margin-left: -122px!important
    }
}

@media (max-width: 856px) {
    .ui-multiselect {
        min-width: 85%;
    }
    .check {
        margin-left: -122px!important
    }
}

@media (max-width: 767px) {
    .div-display-none {
        display: none;
    }
    .ui-steps:before {
        top: 40% !important;
    }
    #kont .contestar {
        margin-left: 63%;
    }
    .ui-toast {
        width: 70% !important;
    }
    .ui-dialog .ui-dialog-content {
        padding: 0.5em 1em;
        max-height: 440px !important;
        overflow: auto !important;
    }
    .ui-labels {
        line-height: 20px !important;
        font-size: 10px;
        margin-top: auto;
    }
    .ui-table .ui-table-thead>tr>th,
    body .ui-table .ui-table-tfoot>tr>td {
        font-size: 9px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .ui-table .ui-table-tbody>tr>td {
        font-size: 10px !important;
    }
    body .ui-toolbar {
        height: auto;
    }
    #kont .a {
        margin-left: 48%;
    }
    #kont .f {
        margin-left: 63%;
    }
}

@media (max-width: 639px) {
    .ui-button-edit-table {
        text-align: right !important;
        height: 0;
    }
    #kont .contestar-facebook {
        margin-left: 72%;
    }
    .ui-button-edit-in-table {
        top: -40px;
    }
    .ui-fluid .ui-buttonset.ui-buttonset-2 .ui-button {
        width: 50% !important;
        height: 30px !important;
    }
    #kont {
        width: 100%;
        min-height: 500px !important;
        margin-bottom: 20px;
    }
    .comentario {
        margin-top: 5px;
    }
    #kont #backgroundofkont {
        min-height: 87%;
    }
    #kont {
        min-width: 278px;
    }
    #messages {
        height: 378px;
    }
    #chat {
        height: 485px;
        overflow-y: auto;
        padding: 0;
        overflow-x: hidden;
    }
}

@media (max-width: 571px) {
    #kont .a {
        margin-left: 46%;
    }
    #kont .f {
        margin-left: 61%;
    }
}


/*ipad*/

@media (max-width: 462px) {
    .layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents {
        position: absolute;
        width: 230px;
        /*corrección menu*/
        left: 60px;
        top: 0;
        height: 100%;
        display: none;
    }
    .ui-dialog-resizable .ui-dialog-content {
        overflow: auto;
        max-height: 440px !important;
    }
    body {
        font-size: 10px;
    }
    .ui-labels {
        line-height: 20px !important;
        font-size: 10px;
    }
    body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
        font-size: 12px;
    }
    .ui-table .ui-table-thead>tr>th,
    body .ui-table .ui-table-tfoot>tr>td {
        font-size: 10px;
    }
    body .ui-table .ui-table-tbody>tr>td {
        background: inherit;
        font-size: 10px;
        border: none !important;
    }
    .ui-table .ui-table-tbody>tr {
        background: #ffffff;
        border: 1px solid #9f9f9f;
    }
    .ui-widget {
        font-size: 10px;
    }
    .ui-table {
        width: 100% !important;
    }
    body .ui-toolbar {
        height: auto;
    }
    .ui-toolbar .ui-toolbar-separator {
        margin: 0 !important;
        visibility: hidden;
    }
    .ui-button.ui-button-text-icon-left .ui-button-text {
        padding: 0 !important;
    }
    .ui-center-table {
        text-align: left !important;
    }
    .ui-calendar.ui-calendar-w-btn .ui-inputtext {
        width: 74% !important;
        height: 27px !important;
    }
    .ui-button.ui-button-text-only .ui-button-text {
        padding: 0em;
        font-size: 0px;
    }
    .card h3 {
        font-size: 10px !important;
    }
    .ui-inputtext {
        font-size: 11px !important;
    }
    .landing-h3 {
        font-size: 11px !important;
    }
    .fc-toolbar h2 {
        font-size: 10px !important;
        margin: 0 !important;
    }
    .fc table {
        width: 95% !important;
        font-size: 10px !important;
    }
    body .fc .fc-button {
        font-size: 11px !important;
    }
    .ui-calendar.ui-calendar-w-btn .ui-inputtext {
        width: 70% !important;
    }
    #kont .a {
        margin-left: 43%;
    }
    #kont .f {
        margin-left: 59%;
    }
    #kont .contestar-facebook {
        margin-left: 58%;
    }
}

@media screen and (max-width: 40em) {
    .ui-table-responsive .ui-table-tbody>tr>td {
        text-align: left;
        display: block;
        border: 0 none !important;
        width: 100% !important;
        box-sizing: border-box;
        float: left;
        clear: left;
    }
    .ui-table-responsive .ui-table-thead>tr>th,
    .ui-table-responsive .ui-table-tfoot>tr>td {
        display: none !important;
    }
    .ui-table-responsive .ui-table-tbody>tr>td .ui-column-title {
        padding: 0.4em;
        min-width: 30%;
        display: inline-block;
        margin: -0.4em 1em -0.4em -0.4em;
        font-weight: bold;
    }
    .ui-dialog {
        width: auto !important;
    }
}