body {
    .ui-inputtext {
        background: $inputBgColor;
        padding: $inputPadding;
        border: 1px solid $inputBorderColor;
        @include transition(border-color $transitionDuration, box-shadow $transitionDuration);
        @include border-radius($borderRadius);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: $fontSize;
        color: $textColor;

        &:enabled:hover:not(.ui-state-error) {
            border-color: $inputHoverBorderColor;
        }

        &:enabled:focus:not(.ui-state-error) {
            border-color: $primaryColor;
            -moz-box-shadow: 0 0 3px 0 rgba(143, 223, 50, 0.5), inset 0 0 1.5px 0 rgba(0, 0, 0, 0.07);
            -webkit-box-shadow: 0 0 3px 0 rgba(143, 223, 50, 0.5), inset 0 0 1.5px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 3px 0 rgba(143, 223, 50, 0.5), inset 0 0 1.5px 0 rgba(0, 0, 0, 0.07);
        }

        &.ng-dirty {
            &.ng-invalid {
                background-color: $inputInvalidBgColor;

                &:hover {
                    border-color: $inputInvalidBorderColor;
                }

                &:focus {
                    border-color: $inputInvalidBorderColor;
                    box-shadow: none;
                }

                &:active {
                    border-color: $inputInvalidBorderColor;
                }
            }
        }
    }

    .ui-button {
        color: $buttonTextColor;
        background-color: $primaryColor;
        border: 1px solid transparent;
        font-size: $fontSize;
        @include transition(background-color $transitionDuration);

        &:enabled:hover {
            background-color: darken($primaryColor,5%);
        }

        &:enabled:focus {
            outline: 0 none;
            background-color: lighten($primaryColor,5%);
        }

        &:enabled:active  {
            background-color: darken($primaryColor,12%);
        }

        &.ui-button-text-only {
            .ui-button-text {
                padding: .308em .6em;
            }
        }

        &.ui-button-text-icon-left {
            .ui-button-text {
                padding: .308em .6em .308em 2em;
            }
        }

        &.ui-button-text-icon-right {
            .ui-button-text {
                padding: .308em 2em .308em .6em;
            }
        }

        &.ui-button-icon-only {
            .ui-button-text {
                padding: .308em;
            }
        }

        &.blue-btn {
            background-color: $blue;

            &:enabled:hover {
                background-color: darken($blue,6%);
            }

            &:enabled:focus {
                background-color: lighten($blue,6%);
            }

            &:enabled:active {
                background-color: darken($blue,11%);
            }
        }

        &.purple-btn {
            background-color: $purple;

            &:enabled:hover {
                background-color: darken($purple,5%);
            }

            &:enabled:focus {
                background-color: lighten($purple,7%);
            }

            &:enabled:active {
                background-color: darken($purple,10%);
            }
        }

        &.orange-btn {
            background-color: $orange;

            &:enabled:hover {
                background-color: darken($orange,6%);
            }

            &:enabled:focus {
                background-color: lighten($orange,5%);
            }

            &:enabled:active {
                background-color: darken($orange,10%);
            }
        }

        &.pink-btn {
            background-color: $pink;

            &:enabled:hover {
                background-color: darken($pink,5%);
            }

            &:enabled:focus {
                background-color: lighten($pink,5%);
            }

            &:enabled:active {
                background-color: darken($pink,10%);
            }
        }

        &.green-btn {
            background-color: $green;

            &:enabled:hover {
                background-color: darken($green,5%);
            }

            &:enabled:focus {
                background-color: lighten($green,5%);
            }

            &:enabled:active {
                background-color: darken($green,10%);
            }
        }

        &.black-btn {
            background-color: $black;

            &:enabled:hover {
                background-color: darken($black,5%);
            }

            &:enabled:focus {
                background-color: lighten($black,5%);
            }

            &:enabled:active {
                background-color: darken($black,10%);
            }
        }

        &.raised-btn {
            -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
            -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
        }

        &.rounded-btn {
            @include border-radius(15px);
        }
    }


    .ui-button.ui-state-default.ui-button-secondary, .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default  {
        background-color: $secondary;
        border-color: $secondary;
        color: $textColor;

        &:enabled:hover {
            border-color: darken($secondary,5%);
            background-color: darken($secondary,5%);
        }

        &:enabled:focus {
            border-color: $secondary;
            outline: 0 none;
            background-color: lighten($secondary,2%);
        }

        &:enabled:active {
            border-color: darken($secondary,10%);
            background-color: darken($secondary,10%);
        }
    }

    .ui-button.ui-state-default.ui-button-info, .ui-buttonset.ui-button-info > .ui-button.ui-state-default  {
        background-color: $blue;
        border-color: $blue;

        &:enabled:hover {
            background-color: darken($blue,6%);
            border-color:  darken($blue,6%);
        }

        &:enabled:focus {
            outline: 0 none;
            background-color: lighten($blue,6%);
            border-color:  lighten($blue,6%);
        }

        &:enabled:active {
            background-color: darken($blue,11%);
            border-color: darken($blue,11%);
        }
    }

    .ui-button.ui-state-default.ui-button-success, .ui-buttonset.ui-button-success > .ui-button.ui-state-default  {
        background-color: $green;
        border-color: $green;

        &:enabled:hover {
            background-color: darken($green,5%);
            border-color:  darken($green,5%);
        }

        &:enabled:focus {
            outline: 0 none;
            background-color: lighten($green,5%);
            border-color:  lighten($green,5%);
        }

        &:enabled:active {
            background-color: darken($green,10%);
            border-color: darken($green,10%);
        }
    }

    .ui-button.ui-state-default.ui-button-warning, .ui-buttonset.ui-button-warning > .ui-button.ui-state-default  {
        background-color: $orange;
        border-color: $orange;

        &:enabled:hover {
            background-color: darken($orange,6%);
            border-color:  darken($orange,6%);
        }

        &:enabled:focus {
            outline: 0 none;
            background-color: lighten($orange,5%);
            border-color:  lighten($orange,5%);
        }

        &:enabled:active {
            background-color: darken($orange,10%);
            border-color: darken($orange,10%);
        }
    }

    .ui-button.ui-state-default.ui-button-danger, .ui-buttonset.ui-button-danger > .ui-button.ui-state-default  {
        background-color: $pink;
        border-color: $pink;

        &:enabled:hover {
            background-color: darken($pink,5%);
            border-color: darken($pink,5%);
        }

        &:enabled:focus {
            outline: 0 none;
            background-color: lighten($pink,5%);
            border-color: lighten($pink,5%);
        }

        &:enabled:active {
            background-color: darken($pink,10%);
            border-color: darken($pink,10%);
        }
    }

    .ui-fluid {
        .ui-button-icon-only {
            width: auto;
        }
    }

    .ui-chkbox {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        width: 16px;
        height: 16px;

        .ui-chkbox-box {
            border: 1px solid $inputBorderColor;
            background-color: $inputBgColor;
            width: 16px;
            height: 16px;
            @include transition(background-color $transitionDuration);

            &:not(.ui-state-disabled):not(.ui-state-active):hover {
                border: 1px solid $inputHoverBorderColor;
            }

            &.ui-state-active {
                border: 1px solid $primaryColor;
                background-color: $primaryColor;
                color: $highlightTextColor;
            }

            &.ui-state-focus {
                border: 1px solid $primaryColor;
                @include border-shadow();
            }

            .ui-chkbox-icon {
                overflow: hidden;
                position: relative;
                top: .1em;
                font-size: $fontSize - 1;
            }
        }
    }

    .ui-chkbox-label {
        margin: 0 0 0 .5em;
    }

    .ui-radiobutton {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        width: 16px;
        height: 16px;

        .ui-radiobutton-box {
            border: 1px solid $inputBorderColor;
            background-color: $inputBgColor;
            width: 16px;
            height: 16px;
            text-align: center;
            @include border-radius(50%);

            &:not(.ui-state-disabled):not(.ui-state-active):hover {
                border: 1px solid $inputHoverBorderColor;
            }

            &.ui-state-active {
                border: 1px solid $inputHoverBorderColor;
                background-color: #ffffff;
                color: #ffffff;

                .ui-radiobutton-icon {
                    background-color: $primaryColor;
                }
            }

            &.ui-state-focus {
                border: 1px solid $primaryColor;
                @include border-shadow();
            }

            .ui-radiobutton-icon {
                @include transition(background-color .3s);
                @include border-radius(50%);
                background: transparent;
                width: 8px;
                height: 8px;
                display: inline-block;
                margin-top: -.3em;
                margin-left: -.3em;

                &:before {
                    display: none;
                }
            }
        }
    }

    .ui-radiobutton-label {
        margin: 0 0 0 .5em;
    }

    .ui-inputswitch {
        height: 2em;
        width: 2.923em;
        @include transition(border-color $transitionDuration);

        .ui-inputswitch-slider {
            background-color: $inputBgColor;
            border: 1px solid $dividerColor;
            @include border-radius(3px);
            @include transition(background-color .3s);

            &:before {
                background-color: #a8acb1;
                height: 1.846em;
                width: 1.461em;
                left: 0;
                bottom: 0;
                border-radius: 0;
                border-bottom-left-radius: 2px;
                -webkit-border-bottom-left-radius: 2px;
                -moz-border-radius-bottomleft: 2px;
                border-top-left-radius: 2px;
                -webkit-border-top-left-radius: 2px;
                -moz-border-radius-topleft: 2px;
                -webkit-transition: $transitionDuration;
                transition: $transitionDuration;
            }
        }

        &.ui-inputswitch-checked {
            .ui-inputswitch-slider:before {
                -webkit-transform: translateX(1.31em);
                -ms-transform: translateX(1.31em);
                transform: translateX(1.31em);
            }
        }

        &.ui-inputswitch-focus {
            .ui-inputswitch-slider {
                background-color: $inputBgColor;
                border-color: $inputHoverBorderColor;
            }
        }

        &:not(.ui-state-disabled):hover {
            .ui-inputswitch-slider {
                background-color: $inputBgColor;
                border-color: $inputHoverBorderColor;
            }
        }

        &.ui-inputswitch-checked {
            .ui-inputswitch-slider {
                background-color: $inputBgColor;
                border-color: $dividerColor;

                &:before {
                    background-color: $primaryColor;
                    border-radius: 0;
                    border-bottom-right-radius: 2px;
                    -webkit-border-bottom-right-radius: 2px;
                    -moz-border-radius-bottomright: 2px;
                    border-top-right-radius: 2px;
                    -webkit-border-top-right-radius: 2px;
                    -moz-border-radius-topright: 2px;
                }
            }

            &:not(.ui-state-disabled):hover {
                .ui-inputswitch-slider {
                    background-color: $inputBgColor;
                    border-color: $inputHoverBorderColor;
                }
            }

            &.ui-inputswitch-focus {
                .ui-inputswitch-slider {
                    background-color: $inputBgColor;
                    border-color: $primaryColor;
                }
            }
        }
    }

    .ui-autocomplete {
        .ui-autocomplete-dropdown {
            width: 2em;
            background-color: $inputBtnBgColor;

            &:not(.ui-state-disabled):hover {
                background-color: $inputBtnBgHoverColor;
            }

            &:not(.ui-state-disabled):active {
                background-color: $inputBtnBgHoverColor;
            }

            &.ui-button-icon-only {
                .ui-button-text {
                    padding: 0.308em;
                }
            }
        }

        &.ui-autocomplete-multiple {
            .ui-autocomplete-multiple-container {
                padding: $inputPadding;

                &:not(.ui-state-disabled):hover {
                    border: 1px solid $inputHoverBorderColor;
                }

                &:not(.ui-state-disabled).ui-state-focus {
                    border: 1px solid $primaryColor;
                    @include border-shadow();
                }

                .ui-autocomplete-input-token {
                    padding: 0 .25em 0 0;
                    vertical-align: top;

                    input {
                        font-size: $fontSize;
                        padding: 0;
                        margin: 0;
                    }
                }

                .ui-autocomplete-token {
                    font-size: 11px;
                    vertical-align: top;
                }
            }
        }
    }

    .ui-chips {
        > ul.ui-inputtext {
            padding: .25em;
            display: inline-block;

            &:not(.ui-state-disabled):hover {
                border: 1px solid $inputHoverBorderColor;
            }

            &:not(.ui-state-disabled).ui-state-focus {
                border: 1px solid $primaryColor;
                @include border-shadow();
            }

            .ui-chips-input-token {
                input {
                    font-size: $fontSize;
                    padding: 0;
                    margin: 0;

                    &:hover {
                        border: 0 none;
                    }

                    &:focus {
                        border: 0 none;
                        @include no-shadow();
                    }
                }
            }

            .ui-chips-token {
                font-size: 1em;
            }
        }
    }

    .ui-autocomplete-panel {
        @include overlay-shadow();

        .ui-autocomplete-items {
            padding: 0;

            .ui-autocomplete-list-item {
                margin: 0;
                padding: $listItemPadding;
                @include border-radius(0);
            }

            .ui-autocomplete-group {
                padding: $listItemPadding;
                background-color: $dividerColor;
                color: $textColor;
            }
        }
    }

    .ui-fluid {
        .ui-autocomplete-multiple.ui-autocomplete-dd {
            .ui-autocomplete-multiple-container {
                width: calc(100% - 2em);
            }
        }
    }

    .ui-dropdown {
        border: 1px solid $inputBorderColor;

        &:not(.ui-state-disabled):hover {
            border: 1px solid $inputHoverBorderColor;
        }

        .ui-dropdown-label:focus,
        .ui-dropdown-label:hover {
            border: 0 none;
        }

        input.ui-dropdown-label:focus,
        input.ui-dropdown-label:hover {
            &.ui-inputtext {
                border: 0 none;
            }
        }

        input.ui-dropdown-label + .ui-dropdown-trigger {
            span {
                margin-top: .3em;
            }
        }

        .ui-dropdown-trigger {
            background-color: #ffffff;
            width: 2em;
            text-align: center;
            padding: 0;

            .pi-caret-down {
                color: $textSecondaryColor;
            }
        }

        &:not(.ui-state-disabled).ui-state-focus {
            border: 1px solid $primaryColor;
            @include border-shadow();

            .ui-dropdown-trigger {
                .pi-caret-down {
                    color: $primaryColor;
                }
            }
        }
    }

    .ui-dropdown-panel {
        background-color: $listItemBgColor;
        @include overlay-shadow();

        .ui-dropdown-filter-container {
            padding: $headerPadding;

            .ui-dropdown-filter {
                width: 100%;
                box-sizing: border-box;
                padding-right: 20px;
            }

            .pi {
                top: 12px;
                right: 15px;
            }
        }

        .ui-dropdown-items {
            padding: 0;
            background-color: $listItemBgColor;

            .ui-dropdown-item {
                margin: 0;
                padding: $listItemPadding;
                @include border-radius(0);

                &:not(.ui-state-highlight):not(.ui-state-disabled):hover {
                    @include list-item-hover();
                }

                > td {
                    padding: $listItemPadding;
                }
            }

            .ui-dropdown-item-group {
                @include border-radius(0);
                padding: $listItemPadding;
                background-color: darken($listItemBgColor,10%);
            }
        }
    }

    .ui-multiselect {
        background: $inputBgColor;
        border: 1px solid $inputBorderColor;

        .ui-multiselect-label {
            padding: $inputPadding;
            padding-right: 2.3em;
        }

        .ui-multiselect-trigger {
            width: 2em;
            box-sizing: border-box;
            padding: 0;
            text-align: center;

            .pi {
                width: auto;
            }
        }

        &:not(.ui-state-disabled):hover {
            border: 1px solid $inputHoverBorderColor;
        }

        &:not(.ui-state-disabled).ui-state-focus {
            border: 1px solid $primaryColor;
            @include border-shadow();
        }
    }

    .ui-multiselect-panel {
        padding: 0;
        min-width: 12em;
        @include overlay-shadow();

        .ui-multiselect-header {
            padding: $headerPadding;
            background-color: $dividerColor;
            border: 0 none;
            border-bottom: 1px solid $headerBorderColor;

            .ui-multiselect-filter-container {
                float: none;
                width: 70%;
                display: inline-block;
                vertical-align: middle;
                margin-left: 0;

                .ui-inputtext {
                    padding: 1px;
                    width: 100%;
                    box-sizing: border-box;
                    text-indent: 1.5em;
                }

                .pi {
                    color: $textColor;
                    top: .3em;
                    left: 0.2em;
                }
            }

            .ui-chkbox {
                margin-right: 8px;
                float: none;
                vertical-align: middle;

                .ui-chkbox-box {
                    color: $highlightTextColor;
                }
            }

            .ui-multiselect-close {
                color: $headerTextColor;
                font-size: $fontSize + 4;
                margin: 0;
                padding: 0;
                @include transition(color $transitionDuration);

                &:hover {
                    padding: 0;
                    color: $primaryColor;
                }

                &:focus {
                    outline: 0 none;
                    color: lighten($primaryColor,10%);
                }
            }
        }

        .ui-multiselect-items {
            .ui-multiselect-item {
                padding: $listItemPadding;

                .ui-chkbox {
                    position: static;
                    margin-top: 0;
                    display: inline-block;
                    vertical-align: middle;
                }

                label {
                    padding: 0;
                    margin: 0 0 0 0.615em;
                    display: inline-block;
                    vertical-align: middle;
                }

                &:not(.ui-state-highlight):not(.ui-state-disabled):hover {
                    border-radius: 0;
                    @include list-item-hover();
                }
            }
        }
    }

    .ui-listbox {
        padding: 0;
        background-color: $listItemBgColor;
        border-color: $contentBorderColor;
        min-width: 11em;

        .ui-chkbox {
            margin-right: .5em;
        }

        .ui-listbox-header {
            padding: $headerPadding;
            border: 0 none;
            border-bottom: 1px solid $headerBorderColor;
            margin: 0;
            @include border-radius(0);

            .ui-listbox-filter-container {
                input {
                    width: 100%;
                    padding-left: 1.75em;
                }

                .pi {
                    top: .3em;
                    left: .5em;
                }
            }
        }

        .ui-listbox-item {
            margin: 0;
            padding: $listItemPadding;
            @include border-radius(0);

            &.ui-state-highlight {
                @include list-item-highlight();
            }

            > td {
                padding: $listItemPadding;
            }
        }

        &:not(.ui-state-disabled) {
            .ui-listbox-item {
                &:not(.ui-state-highlight):hover {
                    @include list-item-hover();
                }
            }
        }

        &.ui-state-disabled {
            .ui-chkbox-box {
                &:not(.ui-state-disabled):not(.ui-state-active):hover {
                    border: 1px solid $inputBorderColor;
                }
            }
        }
    }

    .ui-editor-container {
        .ui-editor-toolbar {
            background-color: #f9f9f9;
        }

        .ql-picker.ql-expanded {
            .ql-picker-label {
                color: #444444;
            }
        }
    }

    .ui-rating {
        a {
            color: $primaryColor;
            text-align: center;
            display: inline-block;
            border-bottom: 1px solid transparent;

            &:focus {
                outline: 0 none;
            }
        }

        .pi {
            font-size: 25px;
            height: 25px;
            width: 25px;

            &.pi-ban {
                color: $pink;

                &:hover {
                    color: lighten($pink,5%);
                }
            }
        }
    }

    .ui-spinner {
        input {
            padding-right: 1.8em;
        }

        .ui-spinner-button {
            z-index: auto;
            background-color: $inputBtnBgColor;

            &:not(.ui-state-disabled):hover {
                background-color: $inputBtnBgHoverColor;
            }

            &:not(.ui-state-disabled):focus {
                background-color: $inputBtnBgColor;
            }

            &:not(.ui-state-disabled):active {
                background-color: $inputBtnBgActiveColor;
            }
        }
    }

    .ui-slider {
        background-color: $dividerColor;
        border-color: $dividerColor;

        &.ui-slider-horizontal {
            .ui-slider-handle {
                top: -.2em;
            }
        }

        &.ui-slider-vertical {
            .ui-slider-handle {
                left: -.2em;
            }
        }

        .ui-slider-handle {
            background-color: $primaryColor;
            border-radius: 100%;
            @include transition(background-color $transitionDuration);
        }

        .ui-slider-range {
            background-color: lighten($primaryColor,15%);
        }

        &:not(.ui-state-disabled) {
            .ui-slider-handle:hover {
                background-color: darken($primaryColor,5%);
            }
        }
    }

    .ui-togglebutton {
        background-color: $dividerColor;
        color: $textColor;

        &:not(.ui-state-disabled):not(.ui-state-active):hover {
            background-color: #a8acb1;
            color: #ffffff;
        }

        &:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus {
            background-color: $dividerColor;
            color: $textColor;
            @include border-shadow();
            border: 1px solid $primaryColor;
        }

        &.ui-state-active {
            background-color: $primaryColor;
            color: #ffffff;

            &.ui-state-focus {
                background-color: $primaryColor;
                color: #ffffff;
                @include border-shadow();
            }
        }
    }

    .ui-selectbutton {
        .ui-button {
            background-color: $dividerColor;
            color: $textColor;
            min-width: 2.5em;
            border: 1px solid transparent;
            @include border-radius(0px);

            &:not(.ui-state-disabled):not(.ui-state-active):hover {
                background-color: #a8acb1;
                color: #ffffff;
            }

            &:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus {
                background-color: $dividerColor;
                color: $textColor;
                @include border-shadow();
                border: 1px solid $primaryColor;
            }

            &.ui-state-active {
                background-color: $primaryColor;
                color: #ffffff;
                border-right-color: $primaryColor;

                &.ui-state-focus {
                    background-color: $primaryColor;
                    color: #ffffff;
                    @include border-shadow();
                }
            }

            &:first-child {
                @include border-radius-left($borderRadius);
            }

            &:last-child {
                @include border-radius-right($borderRadius);
            }
        }
    }

    @media (max-width: 640px) {
        .ui-buttonset {
            .ui-button {
                margin-bottom: 1px;
                @include border-radius($borderRadius);
            }
        }
    }

    .ui-splitbutton.ui-buttonset {
        .ui-button {
            border: 1px solid transparent;
        }
        .ui-menu {
            width: 100%;
            min-width: 12.5em;
        }
    }

    .ui-datepicker {
        padding: 0;
        width: 20em;

        &:not(.ui-state-disabled) {
            .ui-datepicker-header {
                .ui-datepicker-prev,
                .ui-datepicker-next {
                    &:hover {
                        color: $primaryColor;
                    }

                    &:focus {
                        outline: 0 none;
                        color: lighten($primaryColor,10%);
                    }
                }
            }

            table {
                td:not(.ui-state-disabled) {
                    a:not(.ui-state-active):not(.ui-state-highlight):hover {
                        background-color: $listItemHoverBgColor;
                    }
                }
            }

            .ui-monthpicker {
                a.ui-monthpicker-month:not(.ui-state-active):hover {
                    background-color: $listItemHoverBgColor;
                }
            }
        }

        .ui-datepicker-header {
            padding: $headerPadding;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            @include border-radius(0);

            .ui-datepicker-prev {
                cursor: pointer;
                top:1em;
                color: $headerIconColor;
                @include transition(color $transitionDuration);
            }

            .ui-datepicker-next {
                cursor: pointer;
                top:1em;
                color: $headerIconColor;
                @include transition(color $transitionDuration);
            }
        }

        table {
            font-size: $fontSize;

            td {
                padding: 2px;

                > a, > span {
                    min-width: 15px;
                    text-align: center;
                    color: $textColor;
                    padding: .35em;
                    @include border-radius($borderRadius);
                }

                > a {
                    cursor: pointer;

                    &:hover {
                        background-color: $listItemHoverBgColor;
                    }

                    &.ui-state-active {
                        color: $highlightTextColor;
                        background-color: $primaryColor;
                    }

                    &.ui-state-highlight {
                        color: $textColor;
                        background-color: $dividerColor;
                    }
                }

                &.ui-datepicker-today {
                    a {
                        background-color: darken($dividerColor, 10%);
                        color: #ffffff;

                        &.ui-state-active {
                            color: $highlightTextColor;
                            background-color: $primaryColor;
                        }
                    }
                }
            }
        }

        &#ui-datepicker-div {
            @include overlay-shadow();

            .ui-timepicker-div {
                .ui-widget-header {
                    padding: $headerPadding;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    @include border-radius(0);
                }
            }
        }

        .ui-timepicker {
            a {
                color: $headerTextColor;

                &:hover {
                    color: $primaryColor;
                }
            }
        }

        .ui-monthpicker {
            .ui-monthpicker-month {
                color: $textColor;

                &.ui-state-active {
                    color: $highlightTextColor;
                    background-color: $primaryColor;
                }
            }
        }

        &.ui-datepicker-multiple-month {
            width: auto;
            .ui-datepicker-group {
                border-right: 1px solid $dividerColor;
                padding-top: 0;
                padding-bottom: 0;

                .ui-datepicker-calendar-container {
                    tbody {
                        padding-right: .25em;
                        padding-left: .25em;
                    }
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                    border-right: 0 none;
                }
            }
        }
    }

    .ui-calendar.ui-calendar-w-btn {
        .ui-inputtext {
            @include border-radius-right(0);
            border-right: 0 none;

            &:enabled:hover:not(.ui-state-error),
            &:enabled:focus:not(.ui-state-error) {
                border-right: 0 none;
            }
        }
        .ui-datepicker-trigger.ui-button {
            width: 2em;
            @include border-radius-left(0);
        }
    }

    .ui-inplace {
        .ui-inplace-display {
            padding: $inputPadding;
            @include border-radius($borderRadius);

            &:not(.ui-state-disabled):hover {
                @include list-item-hover();
            }
        }
    }

    .ui-fileupload {
        .ui-fileupload-buttonbar {
            padding: $headerPadding;
            border-bottom: 0 none;

            .ui-button {
                margin-right: 8px;
            }
        }
    }

    .ui-fileupload-choose:not(.ui-state-disabled):hover,
    .ui-fileupload-choose.ui-state-focus {
        background-color: darken($primaryColor, 5%);
    }

    .ui-fileupload-choose:not(.ui-state-disabled):active {
        background-color: darken($primaryColor, 10%);
    }

    .ui-password-panel {
        @include overlay-shadow();
    }

    .ui-inputgroup {
        .ui-inputgroup-addon {
            border-color: $inputBorderColor;
            background-color: $inputGroupAddonBgColor;
            padding: $inputPadding;

            &:first-child {
              @include border-radius-left($borderRadius);
            }

            &:last-child {
              @include border-radius-right($borderRadius);
            }

            &.ui-inputgroup-addon-checkbox, &.ui-inputgroup-addon-radiobutton {
              padding: 0.286em 0.857em;
            }
        }

        .ui-button {
            &:first-child {
              @include border-radius-left($borderRadius);
            }

            &:last-child {
              @include border-radius-right($borderRadius);
            }
        }
    }

    .ui-calendar .ui-datepicker {
        min-width: 20em;
    }

    /* Validations */
    .ui-inputtext.ng-dirty.ng-invalid,
    p-dropdown.ng-dirty.ng-invalid > .ui-dropdown,
    p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext,
    p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext,
    p-chips.ng-dirty.ng-invalid > .ui-inputtext,
    p-inputmask.ng-dirty.ng-invalid > .ui-inputtext,
    p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box,
    p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box,
    p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch,
    p-listbox.ng-dirty.ng-invalid .ui-inputtext,
    p-multiselect.ng-dirty.ng-invalid > .ui-multiselect,
    p-spinner.ng-dirty.ng-invalid > .ui-inputtext,
    p-selectbutton.ng-dirty.ng-invalid .ui-button,
    p-togglebutton.ng-dirty.ng-invalid .ui-button {
        border-color: $inputInvalidBorderColor;
    }
}
