<div class="topbar clearfix">
    <a href="#" id="menu-button" (click)="app.onMenuButtonClick($event,0)">
        <span class="fa fa-angle-left"></span>
    </a>
    <a class="morpheus-logo-link">
        <img src="assets/imagenes/logo-ADV.png" class="morpheus-logo" />
    </a>

    <a id="topbar-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
        <i class="fa fa-bars"></i>
    </a>
    <ul class="topbar-menu fadeInDown" [ngClass]="{'topbar-menu-visible': app.topbarMenuActive}" *ngIf="app.restService.mradicacion !== undefined">
        <li #search class="search-item" [ngClass]="{'active-topmenuitem':app.activeTopbarItem === search}" style="text-align: right;">
            <span><b> {{app.restService.mradicacion.nrol}} </b></span>
            <br />
            <span> Último ingreso: {{app.restService.mradicacion.fultimoingreso | date: 'MM/dd/yyyy HH:mm'}} </span>
        </li>
        <li #profile class="profile-item" [ngClass]="{'active-topmenuitem':app.activeTopbarItem === profile}">
            <a href="#" (click)="app.onTopbarItemClick($event,profile)">
                <div class="p-grid">
                    <div class="p-col-1 p-md-1 p-lg-1">
                        <div class="profile-image">
                            <img src="assets/imagenes/profile-image.png">
                        </div>
                    </div>
                    <div class="p-col-10 p-md-10 p-lg-10" class="ui-rol-hidde">
                        <span><b>               
              </b></span>
                    </div>
                </div>
            </a>
            <ul class="fadeInDown">
                <li role="menuitem">
                    <a href="#" (click)="app.logout($event)">
                        <i class="fa fa-fw fa-sign-out"></i>
                        <span>Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>