<div class="layout-sidebar" [ngStyle]="{'overflow':app.restService.sidebarActive ? 'hidden' : 'visible'}"
    (click)="app.onSidebarClick($event)">
    <div class="layout-tabmenu">
        <ul *ngFor="let item of app.appService.sidebar" class="layout-tabmenu-nav ">
            <li *ngIf="item.Mostrar" [ngClass]="{'active-item': app.restService.activeTabIndex === item.Orden }">
                <a href="#" class="{{app.onClass(item.Notificacion)}}"
                    (click)="app.onTabClick($event, (item.Orden), item)">
                    <i class="{{item.Icono}}"></i>
                    <span *ngIf="item.Notificacion"
                        style="color: #FFFF; margin-left: 3px; ">{{item.Numnotifiacion}}</span>
                </a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">{{item.Nombre}}</div>
                </div>
            </li>
        </ul>
        <div class="layout-tabmenu-contents">
            <div *ngFor="let item of app.appService.sidebar" class="layout-tabmenu-content"
                [ngClass]="{'layout-tabmenu-content-active': app.restService.activeTabIndex === item.Orden}">
                <div class="layout-submenu-title clearfix">
                    <span>{{item.Nombre}}</span>
                </div>
                <app-sidebarTabContent>
                    <app-menu *ngIf="item.Essubmenu" [menu]="item.lmenu"></app-menu>
                    <div *ngIf="item.Notificacion" class="inbox-tab">
                        <ul class="navigation-menu">
                            <li class="clearfix" style="padding: 3px 0 0 0px!important;margin: 0!important;"
                                app-notificacionitem *ngFor="let item of item.lnotificacion" [item]="item"></li>
                        </ul>
                    </div>
                </app-sidebarTabContent>
            </div>
        </div>
    </div>
</div>