<div style="height:100%" [hidden]="logincomponent.appService.login">
  <app-login></app-login>
</div>
<div [hidden]="!logincomponent.rest.RespPan(logincomponent.rest.respuesta)" class="layout-wrapper" [ngClass]="{'layout-wrapper-menu-active':restService.sidebarActive,
                                        'layout-overlay-menu':overlay}">
  <div [hidden]="!logincomponent.appService.login">
    <div>
      <p-toast [style]="{marginTop: '40px'}"></p-toast>
    </div>
    <app-topbar></app-topbar>
    <app-sidebar></app-sidebar>
    <div class="layout-content">
      <div class="title-page-father">
        <h1 class="title-page "> {{logincomponent.appService.titulopagina}}</h1>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>

  <div [hidden]="!restService.mostrarDialogoLoading">

    <p-dialog [(visible)]="DialogoVisible" modal="modal" showEffect="fade" [resizable]="false" responsive="true"
      [closable]="false" appendToBody="true" [closeOnEscape]="false" [positionLeft]="0"
      [contentStyle]="{'background-color':'transparent','border':'0', 'text-align': 'center', 'box-shadow': '0' }"
      [showHeader]='false' [baseZIndex]="99999999" styleClass="customDialog">
      <div class="ui-g-12 ">
        <div class="loading">
          <p>
            <img style="width:100%" src="assets/imagenes/loading1.gif">
          </p>
        </div>
      </div>
    </p-dialog>

  </div>
</div>
