<p-messages [value]="msgs"></p-messages>

<p-dialog header="Mensaje" [(visible)]="muestraAlerta.mostrar" width="300">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">{{muestraAlerta.msg}}</div>
  </div>
</p-dialog>
