@charset "UTF-8";
/* Common */
/* Layout */
/* Topbar */
/* Tab */
/******************************/
/*           THEME            */
/******************************/
/* Headers */
/* Contents */
/* Panels */
/* Forms */
/* List Items */
/* Messages */
/* Data */
/* Predefined Colors */
/* Add your variable customizations of theme here */
body .ui-widget,
body .ui-widget .ui-widget {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  text-decoration: none;
}
body .ui-widget-content {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
body .ui-widget-header {
  background-color: #f1f1f1;
  color: #858585;
  border: 1px solid #eaeaea;
  font-weight: bold;
}
body .ui-state-active, body .ui-state-highlight {
  background-color: #5B6BBF;
  color: #ffffff;
}
body .ui-state-error, body .ui-state-default.ui-state-error {
  background-color: #f0d1d0;
  border: solid 1px #e96d66;
}
body .ui-icon {
  width: 16px;
  height: 16px;
  line-height: 16px;
}
body .ui-state-disabled,
body .ui-widget:disabled {
  opacity: 0.35;
  filter: Alpha(Opacity=35);
  background-image: none;
  cursor: default !important;
}
body .ui-state-disabled *,
body .ui-widget:disabled * {
  cursor: default !important;
}
body .ui-corner-all {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
body .ui-corner-top {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
body .ui-corner-bottom {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
body .ui-corner-left {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
body .ui-corner-right {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
body .ui-widget-overlay {
  background-color: rgba(66, 66, 66, 0.7);
}
body a {
  color: #4151a6;
  text-decoration: none;
}
body a:hover {
  color: #4151a6;
}
body .ajax-loader {
  font-size: 28px;
  color: #5B6BBF;
}

body {
  /* Validations */
}
body .ui-inputtext {
  background: #ffffff;
  padding: 0.308em;
  border: 1px solid #cfcfcf;
  -moz-transition: border-color 0.3s, box-shadow 0.3s;
  -o-transition: border-color 0.3s, box-shadow 0.3s;
  -webkit-transition: border-color 0.3s, box-shadow 0.3s;
  transition: border-color 0.3s, box-shadow 0.3s;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 13px;
  color: #777777;
}
body .ui-inputtext:enabled:hover:not(.ui-state-error) {
  border-color: #afafaf;
}
body .ui-inputtext:enabled:focus:not(.ui-state-error) {
  border-color: #5B6BBF;
  -moz-box-shadow: 0 0 3px 0 rgba(143, 223, 50, 0.5), inset 0 0 1.5px 0 rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 0 3px 0 rgba(143, 223, 50, 0.5), inset 0 0 1.5px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 3px 0 rgba(143, 223, 50, 0.5), inset 0 0 1.5px 0 rgba(0, 0, 0, 0.07);
}
body .ui-inputtext.ng-dirty.ng-invalid {
  background-color: #f0d1d0;
}
body .ui-inputtext.ng-dirty.ng-invalid:hover {
  border-color: #e96d66;
}
body .ui-inputtext.ng-dirty.ng-invalid:focus {
  border-color: #e96d66;
  box-shadow: none;
}
body .ui-inputtext.ng-dirty.ng-invalid:active {
  border-color: #e96d66;
}
body .ui-button {
  color: #ffffff;
  background-color: #5B6BBF;
  border: 1px solid transparent;
  font-size: 13px;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
body .ui-button:enabled:hover {
  background-color: #495ab8;
}
body .ui-button:enabled:focus {
  outline: 0 none;
  background-color: #6d7cc6;
}
body .ui-button:enabled:active {
  background-color: #3e4d9f;
}
body .ui-button.ui-button-text-only .ui-button-text {
  padding: 0.308em 0.6em;
}
body .ui-button.ui-button-text-icon-left .ui-button-text {
  padding: 0.308em 0.6em 0.308em 2em;
}
body .ui-button.ui-button-text-icon-right .ui-button-text {
  padding: 0.308em 2em 0.308em 0.6em;
}
body .ui-button.ui-button-icon-only .ui-button-text {
  padding: 0.308em;
}
body .ui-button.blue-btn {
  background-color: #6ec5ff;
}
body .ui-button.blue-btn:enabled:hover {
  background-color: #4fb9ff;
}
body .ui-button.blue-btn:enabled:focus {
  background-color: #8dd1ff;
}
body .ui-button.blue-btn:enabled:active {
  background-color: #36afff;
}
body .ui-button.purple-btn {
  background-color: #985edb;
}
body .ui-button.purple-btn:enabled:hover {
  background-color: #8b49d6;
}
body .ui-button.purple-btn:enabled:focus {
  background-color: #ab7be2;
}
body .ui-button.purple-btn:enabled:active {
  background-color: #7d34d2;
}
body .ui-button.orange-btn {
  background-color: #F1B009;
}
body .ui-button.orange-btn:enabled:hover {
  background-color: #d49a08;
}
body .ui-button.orange-btn:enabled:focus {
  background-color: #f7ba1d;
}
body .ui-button.orange-btn:enabled:active {
  background-color: #c08c07;
}
body .ui-button.pink-btn {
  background-color: #f18983;
}
body .ui-button.pink-btn:enabled:hover {
  background-color: #ee736c;
}
body .ui-button.pink-btn:enabled:focus {
  background-color: #f49f9a;
}
body .ui-button.pink-btn:enabled:active {
  background-color: #ec5d55;
}
body .ui-button.green-btn {
  background-color: #59c429;
}
body .ui-button.green-btn:enabled:hover {
  background-color: #4faf25;
}
body .ui-button.green-btn:enabled:focus {
  background-color: #64d432;
}
body .ui-button.green-btn:enabled:active {
  background-color: #469a20;
}
body .ui-button.black-btn {
  background-color: #777777;
}
body .ui-button.black-btn:enabled:hover {
  background-color: #6a6a6a;
}
body .ui-button.black-btn:enabled:focus {
  background-color: #848484;
}
body .ui-button.black-btn:enabled:active {
  background-color: #5e5e5e;
}
body .ui-button.raised-btn {
  -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
}
body .ui-button.rounded-btn {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
body .ui-button.ui-state-default.ui-button-secondary, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default {
  background-color: #f4f4f4;
  border-color: #f4f4f4;
  color: #777777;
}
body .ui-button.ui-state-default.ui-button-secondary:enabled:hover, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:hover {
  border-color: #e7e7e7;
  background-color: #e7e7e7;
}
body .ui-button.ui-state-default.ui-button-secondary:enabled:focus, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:focus {
  border-color: #f4f4f4;
  outline: 0 none;
  background-color: #f9f9f9;
}
body .ui-button.ui-state-default.ui-button-secondary:enabled:active, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:active {
  border-color: #dbdbdb;
  background-color: #dbdbdb;
}
body .ui-button.ui-state-default.ui-button-info, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default {
  background-color: #6ec5ff;
  border-color: #6ec5ff;
}
body .ui-button.ui-state-default.ui-button-info:enabled:hover, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default:enabled:hover {
  background-color: #4fb9ff;
  border-color: #4fb9ff;
}
body .ui-button.ui-state-default.ui-button-info:enabled:focus, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default:enabled:focus {
  outline: 0 none;
  background-color: #8dd1ff;
  border-color: #8dd1ff;
}
body .ui-button.ui-state-default.ui-button-info:enabled:active, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default:enabled:active {
  background-color: #36afff;
  border-color: #36afff;
}
body .ui-button.ui-state-default.ui-button-success, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default {
  background-color: #59c429;
  border-color: #59c429;
}
body .ui-button.ui-state-default.ui-button-success:enabled:hover, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default:enabled:hover {
  background-color: #4faf25;
  border-color: #4faf25;
}
body .ui-button.ui-state-default.ui-button-success:enabled:focus, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default:enabled:focus {
  outline: 0 none;
  background-color: #64d432;
  border-color: #64d432;
}
body .ui-button.ui-state-default.ui-button-success:enabled:active, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default:enabled:active {
  background-color: #469a20;
  border-color: #469a20;
}
body .ui-button.ui-state-default.ui-button-warning, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default {
  background-color: #F1B009;
  border-color: #F1B009;
}
body .ui-button.ui-state-default.ui-button-warning:enabled:hover, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default:enabled:hover {
  background-color: #d49a08;
  border-color: #d49a08;
}
body .ui-button.ui-state-default.ui-button-warning:enabled:focus, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default:enabled:focus {
  outline: 0 none;
  background-color: #f7ba1d;
  border-color: #f7ba1d;
}
body .ui-button.ui-state-default.ui-button-warning:enabled:active, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default:enabled:active {
  background-color: #c08c07;
  border-color: #c08c07;
}
body .ui-button.ui-state-default.ui-button-danger, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default {
  background-color: #f18983;
  border-color: #f18983;
}
body .ui-button.ui-state-default.ui-button-danger:enabled:hover, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default:enabled:hover {
  background-color: #ee736c;
  border-color: #ee736c;
}
body .ui-button.ui-state-default.ui-button-danger:enabled:focus, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default:enabled:focus {
  outline: 0 none;
  background-color: #f49f9a;
  border-color: #f49f9a;
}
body .ui-button.ui-state-default.ui-button-danger:enabled:active, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default:enabled:active {
  background-color: #ec5d55;
  border-color: #ec5d55;
}
body .ui-fluid .ui-button-icon-only {
  width: auto;
}
body .ui-chkbox {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 16px;
  height: 16px;
}
body .ui-chkbox .ui-chkbox-box {
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
body .ui-chkbox .ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover {
  border: 1px solid #afafaf;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active {
  border: 1px solid #5B6BBF;
  background-color: #5B6BBF;
  color: #ffffff;
}
body .ui-chkbox .ui-chkbox-box.ui-state-focus {
  border: 1px solid #5B6BBF;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
  overflow: hidden;
  position: relative;
  top: 0.1em;
  font-size: 12px;
}
body .ui-chkbox-label {
  margin: 0 0 0 0.5em;
}
body .ui-radiobutton {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 16px;
  height: 16px;
}
body .ui-radiobutton .ui-radiobutton-box {
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
body .ui-radiobutton .ui-radiobutton-box:not(.ui-state-disabled):not(.ui-state-active):hover {
  border: 1px solid #afafaf;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
  border: 1px solid #afafaf;
  background-color: #ffffff;
  color: #ffffff;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
  background-color: #5B6BBF;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-focus {
  border: 1px solid #5B6BBF;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-top: -0.3em;
  margin-left: -0.3em;
}
body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon:before {
  display: none;
}
body .ui-radiobutton-label {
  margin: 0 0 0 0.5em;
}
body .ui-inputswitch {
  height: 2em;
  width: 2.923em;
  -moz-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
body .ui-inputswitch .ui-inputswitch-slider {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
body .ui-inputswitch .ui-inputswitch-slider:before {
  background-color: #a8acb1;
  height: 1.846em;
  width: 1.461em;
  left: 0;
  bottom: 0;
  border-radius: 0;
  border-bottom-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
  -webkit-transform: translateX(1.31em);
  -ms-transform: translateX(1.31em);
  transform: translateX(1.31em);
}
body .ui-inputswitch.ui-inputswitch-focus .ui-inputswitch-slider {
  background-color: #ffffff;
  border-color: #afafaf;
}
body .ui-inputswitch:not(.ui-state-disabled):hover .ui-inputswitch-slider {
  background-color: #ffffff;
  border-color: #afafaf;
}
body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
  background-color: #ffffff;
  border-color: #eaeaea;
}
body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
  background-color: #5B6BBF;
  border-radius: 0;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
}
body .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover .ui-inputswitch-slider {
  background-color: #ffffff;
  border-color: #afafaf;
}
body .ui-inputswitch.ui-inputswitch-checked.ui-inputswitch-focus .ui-inputswitch-slider {
  background-color: #ffffff;
  border-color: #5B6BBF;
}
body .ui-autocomplete .ui-autocomplete-dropdown {
  width: 2em;
  background-color: #c0c0c0;
}
body .ui-autocomplete .ui-autocomplete-dropdown:not(.ui-state-disabled):hover {
  background-color: #999999;
}
body .ui-autocomplete .ui-autocomplete-dropdown:not(.ui-state-disabled):active {
  background-color: #999999;
}
body .ui-autocomplete .ui-autocomplete-dropdown.ui-button-icon-only .ui-button-text {
  padding: 0.308em;
}
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container {
  padding: 0.308em;
}
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container:not(.ui-state-disabled):hover {
  border: 1px solid #afafaf;
}
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container:not(.ui-state-disabled).ui-state-focus {
  border: 1px solid #5B6BBF;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-input-token {
  padding: 0 0.25em 0 0;
  vertical-align: top;
}
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-input-token input {
  font-size: 13px;
  padding: 0;
  margin: 0;
}
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token {
  font-size: 11px;
  vertical-align: top;
}
body .ui-chips > ul.ui-inputtext {
  padding: 0.25em;
  display: inline-block;
}
body .ui-chips > ul.ui-inputtext:not(.ui-state-disabled):hover {
  border: 1px solid #afafaf;
}
body .ui-chips > ul.ui-inputtext:not(.ui-state-disabled).ui-state-focus {
  border: 1px solid #5B6BBF;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
body .ui-chips > ul.ui-inputtext .ui-chips-input-token input {
  font-size: 13px;
  padding: 0;
  margin: 0;
}
body .ui-chips > ul.ui-inputtext .ui-chips-input-token input:hover {
  border: 0 none;
}
body .ui-chips > ul.ui-inputtext .ui-chips-input-token input:focus {
  border: 0 none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
body .ui-chips > ul.ui-inputtext .ui-chips-token {
  font-size: 1em;
}
body .ui-autocomplete-panel {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
body .ui-autocomplete-panel .ui-autocomplete-items {
  padding: 0;
}
body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item {
  margin: 0;
  padding: 0.5em 1em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-group {
  padding: 0.5em 1em;
  background-color: #eaeaea;
  color: #777777;
}
body .ui-fluid .ui-autocomplete-multiple.ui-autocomplete-dd .ui-autocomplete-multiple-container {
  width: calc(100% - 2em);
}
body .ui-dropdown {
  border: 1px solid #cfcfcf;
}
body .ui-dropdown:not(.ui-state-disabled):hover {
  border: 1px solid #afafaf;
}
body .ui-dropdown .ui-dropdown-label:focus,
body .ui-dropdown .ui-dropdown-label:hover {
  border: 0 none;
}
body .ui-dropdown input.ui-dropdown-label:focus.ui-inputtext,
body .ui-dropdown input.ui-dropdown-label:hover.ui-inputtext {
  border: 0 none;
}
body .ui-dropdown input.ui-dropdown-label + .ui-dropdown-trigger span {
  margin-top: 0.3em;
}
body .ui-dropdown .ui-dropdown-trigger {
  background-color: #ffffff;
  width: 2em;
  text-align: center;
  padding: 0;
}
body .ui-dropdown .ui-dropdown-trigger .pi-caret-down {
  color: #848484;
}
body .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
  border: 1px solid #5B6BBF;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
body .ui-dropdown:not(.ui-state-disabled).ui-state-focus .ui-dropdown-trigger .pi-caret-down {
  color: #5B6BBF;
}
body .ui-dropdown-panel {
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
body .ui-dropdown-panel .ui-dropdown-filter-container {
  padding: 0.5em 1em;
}
body .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter {
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
}
body .ui-dropdown-panel .ui-dropdown-filter-container .pi {
  top: 12px;
  right: 15px;
}
body .ui-dropdown-panel .ui-dropdown-items {
  padding: 0;
  background-color: #f9f9f9;
}
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
  margin: 0;
  padding: 0.5em 1em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item > td {
  padding: 0.5em 1em;
}
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0.5em 1em;
  background-color: #e0e0e0;
}
body .ui-multiselect {
  background: #ffffff;
  border: 1px solid #cfcfcf;
}
body .ui-multiselect .ui-multiselect-label {
  padding: 0.308em;
  padding-right: 2.3em;
}
body .ui-multiselect .ui-multiselect-trigger {
  width: 2em;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
}
body .ui-multiselect .ui-multiselect-trigger .pi {
  width: auto;
}
body .ui-multiselect:not(.ui-state-disabled):hover {
  border: 1px solid #afafaf;
}
body .ui-multiselect:not(.ui-state-disabled).ui-state-focus {
  border: 1px solid #5B6BBF;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
body .ui-multiselect-panel {
  padding: 0;
  min-width: 12em;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
body .ui-multiselect-panel .ui-multiselect-header {
  padding: 0.5em 1em;
  background-color: #eaeaea;
  border: 0 none;
  border-bottom: 1px solid #eaeaea;
}
body .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-filter-container {
  float: none;
  width: 70%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
}
body .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-filter-container .ui-inputtext {
  padding: 1px;
  width: 100%;
  box-sizing: border-box;
  text-indent: 1.5em;
}
body .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-filter-container .pi {
  color: #777777;
  top: 0.3em;
  left: 0.2em;
}
body .ui-multiselect-panel .ui-multiselect-header .ui-chkbox {
  margin-right: 8px;
  float: none;
  vertical-align: middle;
}
body .ui-multiselect-panel .ui-multiselect-header .ui-chkbox .ui-chkbox-box {
  color: #ffffff;
}
body .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-close {
  color: #858585;
  font-size: 17px;
  margin: 0;
  padding: 0;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
body .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-close:hover {
  padding: 0;
  color: #5B6BBF;
}
body .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-close:focus {
  outline: 0 none;
  color: #808ccd;
}
body .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item {
  padding: 0.5em 1em;
}
body .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item .ui-chkbox {
  position: static;
  margin-top: 0;
  display: inline-block;
  vertical-align: middle;
}
body .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item label {
  padding: 0;
  margin: 0 0 0 0.615em;
  display: inline-block;
  vertical-align: middle;
}
body .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
  border-radius: 0;
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-listbox {
  padding: 0;
  background-color: #f9f9f9;
  border-color: #eaeaea;
  min-width: 11em;
}
body .ui-listbox .ui-chkbox {
  margin-right: 0.5em;
}
body .ui-listbox .ui-listbox-header {
  padding: 0.5em 1em;
  border: 0 none;
  border-bottom: 1px solid #eaeaea;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .ui-listbox .ui-listbox-header .ui-listbox-filter-container input {
  width: 100%;
  padding-left: 1.75em;
}
body .ui-listbox .ui-listbox-header .ui-listbox-filter-container .pi {
  top: 0.3em;
  left: 0.5em;
}
body .ui-listbox .ui-listbox-item {
  margin: 0;
  padding: 0.5em 1em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .ui-listbox .ui-listbox-item.ui-state-highlight {
  background-color: #5B6BBF;
  color: #ffffff;
}
body .ui-listbox .ui-listbox-item > td {
  padding: 0.5em 1em;
}
body .ui-listbox:not(.ui-state-disabled) .ui-listbox-item:not(.ui-state-highlight):hover {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-listbox.ui-state-disabled .ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover {
  border: 1px solid #cfcfcf;
}
body .ui-editor-container .ui-editor-toolbar {
  background-color: #f9f9f9;
}
body .ui-editor-container .ql-picker.ql-expanded .ql-picker-label {
  color: #444444;
}
body .ui-rating a {
  color: #5B6BBF;
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid transparent;
}
body .ui-rating a:focus {
  outline: 0 none;
}
body .ui-rating .pi {
  font-size: 25px;
  height: 25px;
  width: 25px;
}
body .ui-rating .pi.pi-ban {
  color: #f18983;
}
body .ui-rating .pi.pi-ban:hover {
  color: #f49f9a;
}
body .ui-spinner input {
  padding-right: 1.8em;
}
body .ui-spinner .ui-spinner-button {
  z-index: auto;
  background-color: #c0c0c0;
}
body .ui-spinner .ui-spinner-button:not(.ui-state-disabled):hover {
  background-color: #999999;
}
body .ui-spinner .ui-spinner-button:not(.ui-state-disabled):focus {
  background-color: #c0c0c0;
}
body .ui-spinner .ui-spinner-button:not(.ui-state-disabled):active {
  background-color: #737373;
}
body .ui-slider {
  background-color: #eaeaea;
  border-color: #eaeaea;
}
body .ui-slider.ui-slider-horizontal .ui-slider-handle {
  top: -0.2em;
}
body .ui-slider.ui-slider-vertical .ui-slider-handle {
  left: -0.2em;
}
body .ui-slider .ui-slider-handle {
  background-color: #5B6BBF;
  border-radius: 100%;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
body .ui-slider .ui-slider-range {
  background-color: #929dd4;
}
body .ui-slider:not(.ui-state-disabled) .ui-slider-handle:hover {
  background-color: #495ab8;
}
body .ui-togglebutton {
  background-color: #eaeaea;
  color: #777777;
}
body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active):hover {
  background-color: #a8acb1;
  color: #ffffff;
}
body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus {
  background-color: #eaeaea;
  color: #777777;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #5B6BBF;
}
body .ui-togglebutton.ui-state-active {
  background-color: #5B6BBF;
  color: #ffffff;
}
body .ui-togglebutton.ui-state-active.ui-state-focus {
  background-color: #5B6BBF;
  color: #ffffff;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
body .ui-selectbutton .ui-button {
  background-color: #eaeaea;
  color: #777777;
  min-width: 2.5em;
  border: 1px solid transparent;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
body .ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
  background-color: #a8acb1;
  color: #ffffff;
}
body .ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus {
  background-color: #eaeaea;
  color: #777777;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #5B6BBF;
}
body .ui-selectbutton .ui-button.ui-state-active {
  background-color: #5B6BBF;
  color: #ffffff;
  border-right-color: #5B6BBF;
}
body .ui-selectbutton .ui-button.ui-state-active.ui-state-focus {
  background-color: #5B6BBF;
  color: #ffffff;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
body .ui-selectbutton .ui-button:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
body .ui-selectbutton .ui-button:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
@media (max-width: 640px) {
  body .ui-buttonset .ui-button {
    margin-bottom: 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
}
body .ui-splitbutton.ui-buttonset .ui-button {
  border: 1px solid transparent;
}
body .ui-splitbutton.ui-buttonset .ui-menu {
  width: 100%;
  min-width: 12.5em;
}
body .ui-datepicker {
  padding: 0;
  width: 20em;
}
body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-prev:hover,
body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-next:hover {
  color: #5B6BBF;
}
body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-prev:focus,
body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-next:focus {
  outline: 0 none;
  color: #808ccd;
}
body .ui-datepicker:not(.ui-state-disabled) table td:not(.ui-state-disabled) a:not(.ui-state-active):not(.ui-state-highlight):hover {
  background-color: #e2e2e2;
}
body .ui-datepicker:not(.ui-state-disabled) .ui-monthpicker a.ui-monthpicker-month:not(.ui-state-active):hover {
  background-color: #e2e2e2;
}
body .ui-datepicker .ui-datepicker-header {
  padding: 0.5em 1em;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  cursor: pointer;
  top: 1em;
  color: #858585;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
body .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  cursor: pointer;
  top: 1em;
  color: #858585;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
body .ui-datepicker table {
  font-size: 13px;
}
body .ui-datepicker table td {
  padding: 2px;
}
body .ui-datepicker table td > a, body .ui-datepicker table td > span {
  min-width: 15px;
  text-align: center;
  color: #777777;
  padding: 0.35em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
body .ui-datepicker table td > a {
  cursor: pointer;
}
body .ui-datepicker table td > a:hover {
  background-color: #e2e2e2;
}
body .ui-datepicker table td > a.ui-state-active {
  color: #ffffff;
  background-color: #5B6BBF;
}
body .ui-datepicker table td > a.ui-state-highlight {
  color: #777777;
  background-color: #eaeaea;
}
body .ui-datepicker table td.ui-datepicker-today a {
  background-color: #d1d1d1;
  color: #ffffff;
}
body .ui-datepicker table td.ui-datepicker-today a.ui-state-active {
  color: #ffffff;
  background-color: #5B6BBF;
}
body .ui-datepicker#ui-datepicker-div {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
body .ui-datepicker#ui-datepicker-div .ui-timepicker-div .ui-widget-header {
  padding: 0.5em 1em;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .ui-datepicker .ui-timepicker a {
  color: #858585;
}
body .ui-datepicker .ui-timepicker a:hover {
  color: #5B6BBF;
}
body .ui-datepicker .ui-monthpicker .ui-monthpicker-month {
  color: #777777;
}
body .ui-datepicker .ui-monthpicker .ui-monthpicker-month.ui-state-active {
  color: #ffffff;
  background-color: #5B6BBF;
}
body .ui-datepicker.ui-datepicker-multiple-month {
  width: auto;
}
body .ui-datepicker.ui-datepicker-multiple-month .ui-datepicker-group {
  border-right: 1px solid #eaeaea;
  padding-top: 0;
  padding-bottom: 0;
}
body .ui-datepicker.ui-datepicker-multiple-month .ui-datepicker-group .ui-datepicker-calendar-container tbody {
  padding-right: 0.25em;
  padding-left: 0.25em;
}
body .ui-datepicker.ui-datepicker-multiple-month .ui-datepicker-group:first-child {
  padding-left: 0;
}
body .ui-datepicker.ui-datepicker-multiple-month .ui-datepicker-group:last-child {
  padding-right: 0;
  border-right: 0 none;
}
body .ui-calendar.ui-calendar-w-btn .ui-inputtext {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0 none;
}
body .ui-calendar.ui-calendar-w-btn .ui-inputtext:enabled:hover:not(.ui-state-error), body .ui-calendar.ui-calendar-w-btn .ui-inputtext:enabled:focus:not(.ui-state-error) {
  border-right: 0 none;
}
body .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
  width: 2em;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
body .ui-inplace .ui-inplace-display {
  padding: 0.308em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
body .ui-inplace .ui-inplace-display:not(.ui-state-disabled):hover {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-fileupload .ui-fileupload-buttonbar {
  padding: 0.5em 1em;
  border-bottom: 0 none;
}
body .ui-fileupload .ui-fileupload-buttonbar .ui-button {
  margin-right: 8px;
}
body .ui-fileupload-choose:not(.ui-state-disabled):hover,
body .ui-fileupload-choose.ui-state-focus {
  background-color: #495ab8;
}
body .ui-fileupload-choose:not(.ui-state-disabled):active {
  background-color: #4151a6;
}
body .ui-password-panel {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
body .ui-inputgroup .ui-inputgroup-addon {
  border-color: #cfcfcf;
  background-color: #e6e6e6;
  padding: 0.308em;
}
body .ui-inputgroup .ui-inputgroup-addon:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
body .ui-inputgroup .ui-inputgroup-addon:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
body .ui-inputgroup .ui-inputgroup-addon.ui-inputgroup-addon-checkbox, body .ui-inputgroup .ui-inputgroup-addon.ui-inputgroup-addon-radiobutton {
  padding: 0.286em 0.857em;
}
body .ui-inputgroup .ui-button:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
body .ui-inputgroup .ui-button:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
body .ui-calendar .ui-datepicker {
  min-width: 20em;
}
body .ui-inputtext.ng-dirty.ng-invalid,
body p-dropdown.ng-dirty.ng-invalid > .ui-dropdown,
body p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext,
body p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext,
body p-chips.ng-dirty.ng-invalid > .ui-inputtext,
body p-inputmask.ng-dirty.ng-invalid > .ui-inputtext,
body p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box,
body p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box,
body p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch,
body p-listbox.ng-dirty.ng-invalid .ui-inputtext,
body p-multiselect.ng-dirty.ng-invalid > .ui-multiselect,
body p-spinner.ng-dirty.ng-invalid > .ui-inputtext,
body p-selectbutton.ng-dirty.ng-invalid .ui-button,
body p-togglebutton.ng-dirty.ng-invalid .ui-button {
  border-color: #e96d66;
}

body .ui-panel {
  padding: 0;
}
body .ui-panel .ui-panel-titlebar {
  border: 0 none;
  border-bottom: 1px solid #eaeaea;
  padding: 0.5em 1em;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
body .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon {
  position: relative;
  color: #858585;
  border: 1px solid transparent;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  width: 19px;
  height: 19px;
}
body .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon:hover {
  color: #858585;
}
body .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon:focus {
  outline: 0 none;
  border: 1px solid #5B6BBF;
}
body .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon .pi {
  font-size: 17px;
}
body .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon .pi.pi-minus:hover {
  color: #6c6c6c;
}
body .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon .pi.pi-plus:hover {
  color: #6c6c6c;
}
body .ui-panel .ui-panel-content {
  height: 100%;
  box-sizing: border-box;
  padding: 0.5em 1em;
}
body .ui-panel .ui-panel-footer {
  padding: 0.5em 1em;
  border: 0 none;
  border-top: 1px solid #eaeaea;
  margin: 0;
}
body .ui-panel.ui-panel-collapsed-h .ui-panel-titlebar {
  padding-left: 40px;
}
body .ui-fieldset {
  padding: 0 0 0.5em 0;
}
body .ui-fieldset .ui-fieldset-legend {
  color: #858585;
  background-color: #f1f1f1;
  margin-left: 0.75em;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
body .ui-fieldset .ui-fieldset-legend a {
  color: #858585;
}
body .ui-fieldset .ui-fieldset-legend .ui-fieldset-toggler {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  color: #858585;
}
body .ui-fieldset .ui-fieldset-legend:hover {
  background-color: #dcdcdc;
}
body .ui-fieldset .ui-fieldset-legend:hover .ui-fieldset-toggler {
  color: #858585;
}
body .ui-fieldset .ui-fieldset-content {
  padding: 0.5em 1em;
}
body .ui-notificationbar {
  background-color: #5B6BBF;
  color: #ffffff;
}
body .ui-accordion .ui-accordion-header {
  background-color: #f1f1f1;
  padding: 0;
  color: #858585;
  font-size: 13px;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
  background-color: #dcdcdc;
  color: #6c6c6c;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover .pi {
  color: #858585;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active {
  background-color: #ffffff;
  color: #777777;
  border-bottom: 1px solid #5B6BBF;
  z-index: 1;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  color: #5B6BBF;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active span {
  color: #5B6BBF;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active .pi {
  color: #5B6BBF;
}
body .ui-accordion .ui-accordion-header > a {
  padding: 0.5em 1em;
  color: #858585;
  outline: 0 none;
}
body .ui-accordion .ui-accordion-header > span {
  color: #858585;
}
body .ui-accordion .ui-accordion-content {
  padding: 0.5em 1em;
}
body .ui-tabview {
  padding: 0;
}
body .ui-tabview.ui-tabview-top, body .ui-tabview.ui-tabview-bottom, body .ui-tabview.ui-tabview-left, body .ui-tabview.ui-tabview-right {
  border: 0 none;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav, body .ui-tabview.ui-tabview-left .ui-tabview-nav, body .ui-tabview.ui-tabview-right .ui-tabview-nav {
  padding: 0;
  border: 0 none;
  border-bottom: 1px solid #eaeaea;
  background: #ffffff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li, body .ui-tabview.ui-tabview-left .ui-tabview-nav li, body .ui-tabview.ui-tabview-right .ui-tabview-nav li {
  position: static;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li a, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a, body .ui-tabview.ui-tabview-left .ui-tabview-nav li a, body .ui-tabview.ui-tabview-right .ui-tabview-nav li a {
  padding: 0.5em 1em;
  color: #858585;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li a:focus, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a:focus, body .ui-tabview.ui-tabview-left .ui-tabview-nav li a:focus, body .ui-tabview.ui-tabview-right .ui-tabview-nav li a:focus {
  outline: 0 none;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li a .ui-tabview-left-icon, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a .ui-tabview-left-icon, body .ui-tabview.ui-tabview-left .ui-tabview-nav li a .ui-tabview-left-icon, body .ui-tabview.ui-tabview-right .ui-tabview-nav li a .ui-tabview-left-icon {
  margin-right: 0.25em;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li a .ui-tabview-right-icon, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a .ui-tabview-right-icon, body .ui-tabview.ui-tabview-left .ui-tabview-nav li a .ui-tabview-right-icon, body .ui-tabview.ui-tabview-right .ui-tabview-nav li a .ui-tabview-right-icon {
  margin-left: 0.25em;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li .ui-tabview-close, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li .ui-tabview-close, body .ui-tabview.ui-tabview-left .ui-tabview-nav li .ui-tabview-close, body .ui-tabview.ui-tabview-right .ui-tabview-nav li .ui-tabview-close {
  margin-top: 0.65em;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover, body .ui-tabview.ui-tabview-left .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover, body .ui-tabview.ui-tabview-right .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover {
  background-color: #dcdcdc;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
  background-color: #5B6BBF;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active a, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active a, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active a {
  color: #ffffff;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active .ui-icon-close, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active .ui-icon-close, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active .ui-icon-close, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active .ui-icon-close {
  color: #ffffff;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active.ui-tabview-outline, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active.ui-tabview-outline, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active.ui-tabview-outline, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active.ui-tabview-outline {
  background-color: #6d7cc6;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li .ui-icon-close, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li .ui-icon-close, body .ui-tabview.ui-tabview-left .ui-tabview-nav li .ui-icon-close, body .ui-tabview.ui-tabview-right .ui-tabview-nav li .ui-icon-close {
  color: #858585;
  margin-top: 0.5em;
}
body .ui-tabview.ui-tabview-left .ui-tabview-nav li, body .ui-tabview.ui-tabview-right .ui-tabview-nav li {
  width: 100%;
}
body .ui-tabview .ui-tabview-panel {
  padding: 0.5em 1em;
  border-bottom: 1px solid #eaeaea;
}
body .ui-scrollpanel .ui-scrollpanel-drag {
  background-color: #a8acb1;
}
body .ui-scrollpanel .ui-scrollpanel-track {
  background-color: #f0f3f5;
}
body .ui-scrollpanel .ui-scrollpanel-corner {
  background-color: #f0f3f5;
}
body .ui-toolbar {
  padding: 0.5em 1em;
}
body .ui-toolbar .ui-toolbar-separator {
  margin: 0 0.5em;
}

@media (max-width: 640px) {
  body .ui-panelgrid .ui-grid-responsive .ui-grid-row {
    border: 0 none;
  }
}
body .ui-paginator {
  padding: 0.5em 1em;
  background-color: #f1f1f1;
}
body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last {
  color: #848484;
  border: 1px solid transparent;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
body .ui-paginator .ui-paginator-first:not(.ui-state-disabled):not(.ui-state-active):hover, body .ui-paginator .ui-paginator-prev:not(.ui-state-disabled):not(.ui-state-active):hover, body .ui-paginator .ui-paginator-next:not(.ui-state-disabled):not(.ui-state-active):hover, body .ui-paginator .ui-paginator-last:not(.ui-state-disabled):not(.ui-state-active):hover {
  color: #5B6BBF;
}
body .ui-paginator .ui-paginator-first:not(.ui-state-disabled):focus, body .ui-paginator .ui-paginator-prev:not(.ui-state-disabled):focus, body .ui-paginator .ui-paginator-next:not(.ui-state-disabled):focus, body .ui-paginator .ui-paginator-last:not(.ui-state-disabled):focus {
  outline: 0 none;
  border: 1px solid #5B6BBF;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page {
  line-height: 1.25em;
  color: #848484;
  border: 1px solid transparent;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  color: #ffffff;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page:not(.ui-state-active):hover {
  background-color: #e2e2e2;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page:focus {
  outline: 0 none;
  border: 1px solid #5B6BBF;
}
body .ui-table .ui-table-caption,
body .ui-table .ui-table-summary {
  padding: 0.5em 1em;
  text-align: center;
  font-weight: bold;
}
body .ui-table .ui-table-caption {
  border-bottom: 0 none;
}
body .ui-table .ui-table-summary {
  border-top: 0 none;
}
body .ui-table .ui-table-thead > tr > th,
body .ui-table .ui-table-tbody > tr > td,
body .ui-table .ui-table-tfoot > tr > td {
  padding: 0.5em 1em;
}
body .ui-table .ui-table-thead > tr > th,
body .ui-table .ui-table-tfoot > tr > td {
  background-color: #ffffff;
  padding: 0.5em 1em;
  border: 1px solid #eaeaea;
  color: #777777;
}
body .ui-table .ui-sortable-column {
  color: #777777;
}
body .ui-table .ui-sortable-column .ui-sortable-column-icon {
  color: #848484;
}
body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover .ui-sortable-column-icon {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-table .ui-sortable-column.ui-state-highlight {
  background-color: #5B6BBF;
  color: #ffffff;
  border-top-color: #5B6BBF;
}
body .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
  color: #ffffff;
}
body .ui-table .ui-table-tbody > tr {
  background: #ffffff;
}
body .ui-table .ui-table-tbody > tr > td {
  background: inherit;
  border: 1px solid #eaeaea;
}
body .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: #5B6BBF;
  color: #ffffff;
}
body .ui-table .ui-table-tbody > tr.ui-contextmenu-selected {
  background-color: #333f81;
  color: #ffffff;
}
body .ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: #f8f8f8;
}
body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
  background-color: #5B6BBF;
  color: #ffffff;
}
body .ui-table .ui-table-tbody > tr:nth-child(even).ui-contextmenu-selected {
  background-color: #333f81;
  color: #ffffff;
}
body .ui-table.ui-table-hoverable-rows .ui-table-tbody > tr.ui-selectable-row:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover {
  cursor: pointer;
  background-color: #dddddd;
  border-color: #d1d1d1;
}
body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer {
  padding: 0.5em 1em;
}
body .ui-datatable .ui-datatable-header {
  border-color: #eaeaea;
}
body .ui-datatable .ui-paginator {
  padding: 0.5em 1em;
}
body .ui-datatable .ui-datatable-thead > tr > th {
  background-color: #ffffff;
  padding: 0.5em 1em;
  border-color: #eaeaea;
  color: #777777;
}
body .ui-datatable .ui-datatable-thead > tr > th.ui-sortable-column:not(.ui-state-active):hover {
  background-color: #d1d1d1;
}
body .ui-datatable .ui-datatable-thead > tr > th.ui-state-active {
  background-color: #5B6BBF;
  color: #ffffff;
}
body .ui-datatable .ui-datatable-thead > tr > th:focus {
  outline: 0 none;
  background-color: #f0f3f5;
}
body .ui-datatable .ui-datatable-thead > tr > th:focus.ui-state-active {
  background-color: #6d7cc6;
}
body .ui-datatable .ui-datatable-thead > tr > th .ui-column-title {
  font-weight: 700;
}
body .ui-datatable .ui-datatable-tfoot > tr > td {
  background-color: #ffffff;
  padding: 0.5em 1em;
  border-color: #eaeaea;
  color: #777777;
}
body .ui-datatable .ui-datatable-data tr.ui-datatable-even {
  background-color: #ffffff;
}
body .ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight {
  background-color: #5B6BBF;
  color: #ffffff;
  border-color: #495ab8;
}
body .ui-datatable .ui-datatable-data tr.ui-datatable-odd {
  background-color: #f8f8f8;
}
body .ui-datatable .ui-datatable-data tr.ui-datatable-odd.ui-state-highlight {
  background-color: #5B6BBF;
  color: #ffffff;
  border-color: #495ab8;
}
body .ui-datatable .ui-datatable-data tr.ui-state-highlight {
  border-color: #495ab8;
}
body .ui-datatable .ui-datatable-data tr td {
  padding: 0.5em 1em;
  border-color: #eaeaea;
}
body .ui-datatable .ui-datatable-data tr td.ui-editable-column.ui-cell-editing .ui-inputtext {
  border-color: #5B6BBF;
}
body .ui-datatable .ui-datatable-data tr td.ui-editable-column.ui-cell-editing .ui-datepicker table td a,
body .ui-datatable .ui-datatable-data tr td.ui-editable-column.ui-cell-editing .ui-datepicker table td span {
  min-width: 1.8em;
}
body .ui-datatable .ui-datatable-data tr td .ui-row-toggler {
  color: #777777;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
body .ui-datatable .ui-datatable-data tr td .ui-row-toggler:hover {
  color: #5B6BBF;
}
body .ui-datatable .ui-datatable-data tr.ui-widget-header {
  background-color: #fefefe;
  border-color: #f1f1f1;
}
body .ui-datatable .ui-datatable-data tr.ui-widget-header a {
  color: #858585;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
body .ui-datatable .ui-datatable-data tr.ui-widget-header a:hover {
  color: #5B6BBF;
}
body .ui-datatable .ui-datatable-data.ui-datatable-hoverable-rows > tr.ui-widget-content:not(.ui-state-highlight):hover {
  cursor: pointer;
  background-color: #dddddd;
  border-color: #d1d1d1;
}
body .ui-datatable .ui-datatable-scrollable-header,
body .ui-datatable .ui-datatable-scrollable-footer {
  background-color: #f0f3f5;
}
body .ui-datatable .ui-datatable-scrollable-header .ui-datatable-scrollable-header-box td,
body .ui-datatable .ui-datatable-scrollable-footer .ui-datatable-scrollable-header-box td {
  color: #777777;
}
body .ui-organizationchart .ui-organizationchart-node-content.ui-organizationchart-selectable-node:not(.ui-state-highlight):hover {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-organizationchart .ui-organizationchart-node-content.ui-state-highlight .ui-node-toggler i {
  color: #2b366f;
}
body .ui-organizationchart .ui-organizationchart-line-down {
  background-color: #d1d1d1;
}
body .ui-organizationchart .ui-organizationchart-line-left {
  border-right: 1px solid #d1d1d1;
}
body .ui-organizationchart .ui-organizationchart-line-top {
  border-top: 1px solid #d1d1d1;
}
body .ui-organizationchart .ui-organizationchart-node-content {
  border-color: #d1d1d1;
}
body .ui-organizationchart .ui-organizationchart-node-content .ui-node-toggler {
  color: #d1d1d1;
  bottom: -0.7em;
  margin-left: -0.43em;
}
body .ui-dataview .ui-paginator {
  padding: 0.5em 1em;
}
body .ui-datagrid .ui-datagrid-header {
  padding: 0.5em 1em;
}
body .ui-datagrid .ui-paginator {
  padding: 0.5em 1em;
}
body .ui-datagrid .ui-panel-titlebar {
  border-bottom: 1px solid #eaeaea;
  color: #777777;
}
body .ui-datalist .ui-datalist-header {
  padding: 0.5em 1em;
}
body .ui-datalist .ui-paginator {
  padding: 0.5em 1em;
}
body .ui-datascroller .ui-datascroller-header,
body .ui-datascroller .ui-datascroller-footer {
  padding: 0.5em 1em;
}
body .ui-picklist .ui-picklist-buttons button {
  font-size: 15px;
}
body .ui-picklist .ui-picklist-caption {
  padding: 0.5em 1em;
}
body .ui-picklist .ui-picklist-list .ui-picklist-item {
  padding: 0.5em 1em;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .ui-picklist .ui-picklist-list .ui-picklist-item:not(.ui-state-highlight):hover {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-orderlist .ui-orderlist-controls button {
  font-size: 15px;
}
body .ui-orderlist .ui-orderlist-caption {
  padding: 0.5em 1em;
  box-sizing: border-box;
}
body .ui-orderlist .ui-orderlist-list {
  box-sizing: border-box;
}
body .ui-orderlist .ui-orderlist-list .ui-orderlist-item {
  padding: 0.5em 1em;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .ui-orderlist .ui-orderlist-list .ui-orderlist-item:not(.ui-state-highlight):hover {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-orderlist.ui-grid-responsive .ui-grid-row .ui-orderlist-controls {
  margin-right: 0;
  padding-right: 10px;
}
body .ui-carousel .ui-carousel-content .ui-carousel-prev,
body .ui-carousel .ui-carousel-content .ui-carousel-next {
  color: #ffffff;
  background-color: #5B6BBF;
  border: 1px solid transparent;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0.2em;
  width: auto;
  min-width: 2.5em;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
body .ui-carousel .ui-carousel-content .ui-carousel-prev:not(.ui-state-disabled):hover,
body .ui-carousel .ui-carousel-content .ui-carousel-next:not(.ui-state-disabled):hover {
  background-color: #495ab8;
}
body .ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item {
  border-color: transparent;
  background-color: transparent;
}
body .ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item > .ui-button {
  border-color: transparent;
  background-color: transparent;
}
body .ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item .ui-carousel-dot-icon {
  width: 20px;
  height: 6px;
  background-color: #b2c1cd;
  margin: 0 0.2em;
}
body .ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item .ui-carousel-dot-icon::before {
  content: " ";
}
body .ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item.ui-state-highlight .ui-carousel-dot-icon {
  background-color: #5B6BBF;
}
body .ui-treetable .ui-paginator {
  padding: 0.5em 1em;
}
body .ui-treetable .ui-treetable-caption,
body .ui-treetable .ui-treetable-summary {
  padding: 0.5em 1em;
  text-align: center;
  font-weight: bold;
}
body .ui-treetable .ui-treetable-caption {
  border-bottom: 0 none;
}
body .ui-treetable .ui-treetable-summary {
  border-top: 0 none;
}
body .ui-treetable .ui-treetable-thead > tr > th,
body .ui-treetable .ui-treetable-tbody > tr > td,
body .ui-treetable .ui-treetable-tfoot > tr > td {
  padding: 0.5em 1em;
}
body .ui-treetable .ui-treetable-thead > tr > th,
body .ui-treetable .ui-treetable-tfoot > tr > td {
  color: #858585;
  border: 1px solid #eaeaea;
}
body .ui-treetable .ui-treetable-thead tr .ui-inputtext {
  width: 100%;
}
body .ui-treetable .ui-treetable-scrollable-header {
  border: none;
}
body .ui-treetable .ui-treetable-loading-content .pi-spin {
  -webkit-animation: 2s linear infinite fa-spin;
  animation: 2s linear infinite fa-spin;
  color: #ffffff;
}
body .ui-treetable .ui-sortable-column {
  color: #777777;
}
body .ui-treetable .ui-sortable-column .ui-sortable-column-icon {
  color: #848484;
}
body .ui-treetable .ui-sortable-column:not(.ui-state-highlight):hover {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-treetable .ui-sortable-column:not(.ui-state-highlight):hover .ui-sortable-column-icon {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-treetable .ui-sortable-column.ui-state-highlight {
  background-color: #5B6BBF;
  color: #ffffff;
  border-top-color: #5B6BBF;
}
body .ui-treetable .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
  color: #ffffff;
}
body .ui-treetable .ui-sortable-column .ui-sortable-column-icon {
  vertical-align: middle;
}
body .ui-treetable .ui-treetable-tbody > tr {
  background: #ffffff;
}
body .ui-treetable .ui-treetable-tbody > tr > td {
  background: inherit;
  border: 1px solid #eaeaea;
}
body .ui-treetable .ui-treetable-tbody > tr > td .ui-treetable-toggler {
  color: #848484;
}
body .ui-treetable .ui-treetable-tbody > tr > td .ui-treetable-toggler .pi.pi-chevron-right {
  vertical-align: middle;
}
body .ui-treetable .ui-treetable-tbody > tr > td .ui-treetable-toggler .pi.pi-chevron-right:before {
  content: "";
}
body .ui-treetable .ui-treetable-tbody > tr > td .ui-treetable-toggler .pi.pi-chevron-down {
  vertical-align: middle;
}
body .ui-treetable .ui-treetable-tbody > tr > td .ui-treetable-toggler .pi.pi-chevron-down:before {
  content: "";
}
body .ui-treetable .ui-treetable-tbody > tr > td .ui-treetable-chkbox {
  vertical-align: middle;
  margin-right: 0.4em;
}
body .ui-treetable .ui-treetable-tbody > tr.ui-state-highlight {
  background-color: #5B6BBF;
  color: #ffffff;
}
body .ui-treetable .ui-treetable-tbody > tr.ui-state-highlight > td {
  background: inherit;
  border: #eaeaea;
}
body .ui-treetable .ui-treetable-tbody > tr.ui-state-highlight > td .ui-treetable-toggler {
  color: #ffffff;
}
body .ui-treetable .ui-treetable-tbody > tr.ui-state-highlight.ui-contextmenu-selected {
  background-color: #5B6BBF;
  color: #ffffff;
}
body .ui-treetable.ui-treetable-hoverable-rows .ui-treetable-tbody > tr:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover {
  cursor: pointer;
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-tree {
  padding: 0.25em 0.5em;
}
body .ui-tree .ui-treenode {
  padding: 0.15em 0;
}
body .ui-tree .ui-treenode .ui-treenode-content {
  padding: 0 0 0.25em 0;
}
body .ui-tree .ui-treenode .ui-treenode-content .ui-tree-toggler {
  font-size: 15px;
  vertical-align: middle;
  display: inline-block;
  float: none;
  margin: 0;
}
body .ui-tree .ui-treenode .ui-treenode-content .ui-treenode-icon {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  font-size: 15px;
}
body .ui-tree .ui-treenode .ui-treenode-content .ui-treenode-label {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  padding: 0 0.25em;
}
body .ui-tree .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
  background-color: #5B6BBF;
  color: #ffffff;
}
body .ui-tree .ui-treenode .ui-treenode-content .ui-chkbox {
  margin: 0 0.25em;
}
body .ui-tree .ui-treenode .ui-treenode-content.ui-treenode-selectable .ui-treenode-label:not(.ui-state-highlight):hover {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-tree .ui-treenode .ui-treenode-content > span {
  line-height: inherit;
}
body .ui-tree.ui-tree-horizontal {
  padding: 0.85em 0;
}
body .ui-tree.ui-tree-horizontal .ui-treenode {
  background: url("../layout/images/tth-connector.png") repeat-x scroll center center transparent;
}
body .ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content {
  padding: 0.5em 1em;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
body .ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content.ui-state-highlight {
  background-color: #5B6BBF;
  color: #ffffff;
}
body .ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content .ui-chkbox .ui-icon {
  color: #5B6BBF;
}
body .ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content .ui-treenode-label:not(.ui-state-highlight):hover {
  background-color: inherit;
  color: inherit;
}
body .ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content.ui-treenode-selectable:not(.ui-state-highlight):hover {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-tree.ui-tree-horizontal .ui-treenode-connector-line {
  background: url("../layout/images/tth-connector.png") repeat-y scroll 0 0 transparent;
}
body .fc .fc-button {
  color: #ffffff;
  background-color: #5B6BBF;
  font-size: 13px;
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  height: 2.25em;
  padding: 0 1em;
  border: 1px solid transparent;
}
body .fc .fc-button:enabled:not(:focus):not(.fc-button-active):hover {
  background-color: #495ab8;
}
body .fc .fc-button:enabled:not(.fc-button-active):focus {
  outline: 0 none;
  background-color: #6d7cc6;
  border-color: #6d7cc6;
  box-shadow: none;
}
body .fc .fc-button.fc-button-active {
  background-color: #3e4d9f;
  border-color: #3e4d9f;
}
body .fc .fc-button.fc-button-active:focus {
  box-shadow: none;
}
body .fc .fc-head .fc-row {
  background-color: #e2e2e2;
  color: #858585;
}
body .fc .fc-head .fc-row th {
  border: 1px solid transparent;
}
body .fc td.fc-today {
  background-color: #5B6BBF;
  border: 1px solid #5B6BBF;
  color: #ffffff;
}
body .fc .fc-toolbar .ui-state-active {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
body .fc table {
  box-sizing: border-box;
}
body .fc div.ui-widget-content {
  padding-left: 0px;
  padding-right: 0px;
}
body .fc .fc-event {
  border-color: #5B6BBF;
  background-color: #495ab8;
}
body .ui-virtualscroller .ui-virtualscroller-list li {
  border-bottom: 1px solid #eaeaea;
}

body .ui-messages.ui-messages-info {
  display: none;
  background-color: #ddedf4;
  border-color: #ddedf4;
  color: #393b38;
}
body .ui-messages.ui-messages-info .ui-messages-info-icon {
  font-size: 24px;
  margin-top: -2px;
}
body .ui-messages.ui-messages-warn {
  background-color: #fff7e1;
  border-color: #fff7e1;
  color: #393b38;
}
body .ui-messages.ui-messages-warn .ui-messages-warn-icon {
  font-size: 24px;
  margin-top: -2px;
}
body .ui-messages.ui-messages-error {
  background-color: #ffddd5;
  border-color: #ffddd5;
  color: #393b38;
}
body .ui-messages.ui-messages-error .ui-messages-error-icon {
  font-size: 24px;
  margin-top: -2px;
}
body .ui-messages.ui-messages-success {
  background-color: #C9E7CB;
  border-color: #C9E7CB;
  color: #393b38;
}
body .ui-messages.ui-messages-success .ui-messages-fatal-icon {
  font-size: 24px;
  margin-top: -2px;
}
body .ui-messages.ui-messages-success .ui-messages-close .pi {
  color: #393b38 !important;
}
body .ui-messages .ui-messages-close {
  font-size: 16px;
  color: #393b38;
}
body .ui-message.ui-message-info {
  background-color: #ddedf4;
  border-color: #ddedf4;
  color: #393b38;
}
body .ui-message.ui-message-warn {
  background-color: #fff7e1;
  border-color: #fff7e1;
  color: #393b38;
}
body .ui-message.ui-message-error {
  background-color: #ffddd5;
  border-color: #ffddd5;
  color: #393b38;
}
body .ui-message.ui-message-success {
  background-color: #C9E7CB;
  border-color: #C9E7CB;
  color: #393b38;
}
body .ui-message .ui-message-close {
  text-decoration: none;
  color: #fff;
  right: 0.25em;
}
body .ui-growl {
  top: 85px;
}
body .ui-growl .ui-growl-item-container {
  opacity: 0.95;
  filter: alpha(opacity=95);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
body .ui-growl .ui-growl-item-container .ui-growl-message {
  margin-left: 4em;
}
body .ui-growl .ui-growl-item-container.ui-growl-message-info {
  background-color: #ddedf4;
  border-color: #ddedf4;
  color: #393b38;
}
body .ui-growl .ui-growl-item-container.ui-growl-message-info .ui-growl-image {
  font-size: 36px;
}
body .ui-growl .ui-growl-item-container.ui-growl-message-warn {
  background-color: #fff7e1;
  border-color: #fff7e1;
  color: #393b38;
}
body .ui-growl .ui-growl-item-container.ui-growl-message-warn .ui-growl-image {
  font-size: 36px;
}
body .ui-growl .ui-growl-item-container.ui-growl-message-error {
  background-color: #ffddd5;
  border-color: #ffddd5;
  color: #393b38;
}
body .ui-growl .ui-growl-item-container.ui-growl-message-error .ui-growl-image {
  font-size: 36px;
}
body .ui-growl .ui-growl-item-container.ui-growl-message-success {
  background-color: #C9E7CB;
  border-color: #C9E7CB;
  color: #393b38;
}
body .ui-growl .ui-growl-item-container.ui-growl-message-success .ui-growl-image {
  font-size: 36px;
}
body .ui-toast .ui-toast-message {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
body .ui-toast .ui-toast-message .ui-toast-message-text-content {
  margin-left: 4em;
}
body .ui-toast .ui-toast-message.ui-toast-message-info {
  background-color: #ddedf4;
  border: 0 none;
  color: #393b38;
}
body .ui-toast .ui-toast-message.ui-toast-message-info .ui-toast-close-icon {
  color: #393b38;
}
body .ui-toast .ui-toast-message.ui-toast-message-info .ui-toast-icon {
  font-size: 36px;
  color: #393b38;
}
body .ui-toast .ui-toast-message.ui-toast-message-success {
  background-color: #C9E7CB;
  border: 0 none;
  color: #393b38;
}
body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-close-icon {
  color: #393b38;
}
body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-icon {
  font-size: 36px;
  color: #393b38;
}
body .ui-toast .ui-toast-message.ui-toast-message-warn {
  background-color: #fff7e1;
  border: 0 none;
  color: #393b38;
}
body .ui-toast .ui-toast-message.ui-toast-message-warn .ui-toast-close-icon {
  color: #393b38;
}
body .ui-toast .ui-toast-message.ui-toast-message-warn .ui-toast-icon {
  font-size: 36px;
  color: #393b38;
}
body .ui-toast .ui-toast-message.ui-toast-message-error {
  background-color: #ffddd5;
  border: 0 none;
  color: #393b38;
}
body .ui-toast .ui-toast-message.ui-toast-message-error .ui-toast-close-icon {
  color: #393b38;
}
body .ui-toast .ui-toast-message.ui-toast-message-error .ui-toast-icon {
  font-size: 36px;
  color: #393b38;
}

body .ui-overlaypanel {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
body .ui-overlaypanel .ui-overlaypanel-close {
  background-color: #f1f1f1;
  color: #858585;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
body .ui-overlaypanel .ui-overlaypanel-close:hover {
  color: #6c6c6c;
}
body .ui-overlaypanel .ui-overlaypanel-close .pi {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
}
body .ui-overlaypanel:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
}
body .ui-overlaypanel:before {
  border-color: rgba(234, 234, 234, 0);
  border-bottom-color: #eaeaea;
}
body .ui-overlaypanel.ui-overlaypanel-flipped:after {
  border-top-color: #ffffff;
}
body .ui-overlaypanel.ui-overlaypanel-flipped:before {
  border-top-color: #eaeaea;
}
body .ui-dialog {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
body .ui-dialog .ui-dialog-titlebar {
  padding: 0.5em 1em;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  margin: 0;
  float: none;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
  color: #858585;
  border: 0 none;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  padding: 0;
  margin-left: 0.35em;
  font-size: 15px;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon:hover {
  color: #6c6c6c;
}
body .ui-dialog .ui-dialog-content {
  padding: 0.5em 1em;
}
body .ui-dialog .ui-dialog-buttonpane {
  padding: 0.5em 1em;
  text-align: right;
}
body .ui-dialog .ui-dialog-buttonpane button {
  margin: 0 0.35em 0 0;
}
body .ui-dialog .ui-dialog-footer {
  border: 0 none;
  border-top: 1px solid #eaeaea;
}
body .ui-dialog.ui-confirm-dialog .ui-dialog-content {
  padding: 1.5em;
}
body .ui-dialog.ui-confirm-dialog .ui-dialog-content > span {
  float: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 13px;
  margin: 0;
}
body .ui-dialog.ui-confirm-dialog .ui-dialog-content > span.ui-icon {
  margin-right: 0.35em;
  font-size: 15px;
}
body .ui-tooltip .ui-tooltip-text {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
body .ui-tooltip.ui-state-error {
  border: 0 none;
}
body .ui-lightbox {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
body .ui-lightbox .ui-lightbox-caption {
  padding: 0.5em 1em;
}
body .ui-lightbox .ui-lightbox-caption .ui-lightbox-caption-text {
  color: #858585;
  margin: 0;
}
body .ui-lightbox .ui-lightbox-caption .ui-lightbox-close {
  padding: 0;
  color: #858585;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
body .ui-lightbox .ui-lightbox-caption .ui-lightbox-close:hover {
  color: #5B6BBF;
}
body .ui-lightbox .ui-lightbox-content-wrapper {
  overflow: hidden;
}
body .ui-lightbox .ui-lightbox-content-wrapper .ui-lightbox-nav-left {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 24px;
  margin-left: 4px;
}
body .ui-lightbox .ui-lightbox-content-wrapper .ui-lightbox-nav-left:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
body .ui-lightbox .ui-lightbox-content-wrapper .ui-lightbox-nav-right {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 24px;
  margin-right: 4px;
}
body .ui-lightbox .ui-lightbox-content-wrapper .ui-lightbox-nav-right:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
body .ui-lightbox .ui-lightbox-content-wrapper .ui-lightbox-content.ui-lightbox-loading + a {
  display: none;
}

body .ui-breadcrumb {
  background-color: #f1f1f1;
  padding: 0.5em 1em;
}
body .ui-breadcrumb ul li {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
body .ui-breadcrumb ul li .ui-menuitem-link {
  font-size: 15px;
  color: #858585;
  margin: 0;
}
body .ui-breadcrumb ul li.ui-breadcrumb-chevron {
  font-size: 15px;
  margin: 0 0.45em;
  color: #858585;
}
body .ui-breadcrumb ul li:first-child {
  font-size: 15px;
}
body .ui-breadcrumb ul li:first-child a.ui-icon-home {
  color: #858585;
  margin: 0;
}
body .ui-steps {
  position: relative;
}
body .ui-steps .ui-steps-item {
  background-color: transparent;
  text-align: center;
}
body .ui-steps .ui-steps-item .ui-menuitem-link {
  display: inline-block;
  text-align: center;
  background-color: transparent;
  overflow: hidden;
}
body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number {
  display: inline-block;
  background-color: #5B6BBF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: 1em;
  color: #ffffff;
  position: relative;
  top: 1.1em;
  margin-bottom: 1em;
  border: 1px solid #929dd4;
}
body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-title {
  display: block;
  margin-top: 0.45em;
  color: #848484;
}
body .ui-steps .ui-steps-item.ui-state-disabled {
  opacity: 1;
  filter: alpha(opacity=100);
}
body .ui-steps .ui-steps-item.ui-state-disabled .ui-steps-number {
  background-color: #f1f1f1;
  border-color: #eaeaea;
  color: #858585;
}
body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {
  background-color: #5B6BBF;
}
body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-title {
  font-weight: 700;
  color: #777777;
}
body .ui-steps .ui-steps-item:last-child .ui-menuitem-link {
  display: block;
}
body .ui-steps:before {
  content: " ";
  border: 1px solid #5B6BBF;
  width: 100%;
  top: 45%;
  left: 0;
  display: block;
  position: absolute;
}
body .ui-menu .ui-menuitem-link,
body .ui-menubar .ui-menuitem-link,
body .ui-tieredmenu .ui-menuitem-link,
body .ui-contextmenu .ui-menuitem-link,
body .ui-megamenu .ui-menuitem-link,
body .ui-slidemenu .ui-menuitem-link {
  padding: 0.5em 1em;
  color: #777777;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .ui-menu .ui-menuitem-link:hover,
body .ui-menubar .ui-menuitem-link:hover,
body .ui-tieredmenu .ui-menuitem-link:hover,
body .ui-contextmenu .ui-menuitem-link:hover,
body .ui-megamenu .ui-menuitem-link:hover,
body .ui-slidemenu .ui-menuitem-link:hover {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-menu .ui-menuitem-link:focus,
body .ui-menubar .ui-menuitem-link:focus,
body .ui-tieredmenu .ui-menuitem-link:focus,
body .ui-contextmenu .ui-menuitem-link:focus,
body .ui-megamenu .ui-menuitem-link:focus,
body .ui-slidemenu .ui-menuitem-link:focus {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-menubar .ui-submenu-list, body .ui-contextmenu .ui-submenu-list,
body .ui-slidemenu .ui-submenu-list, body .ui-tieredmenu .ui-submenu-list {
  padding: 0;
}
body .ui-menubar .ui-submenu-list .ui-menuitem, body .ui-contextmenu .ui-submenu-list .ui-menuitem,
body .ui-slidemenu .ui-submenu-list .ui-menuitem, body .ui-tieredmenu .ui-submenu-list .ui-menuitem {
  margin: 0;
}
body .ui-menu {
  min-width: 12.5em;
  padding: 0;
}
body .ui-menu .ui-menuitem {
  margin: 0;
}
body .ui-menu .ui-menuitem .ui-menuitem-link .ui-menuitem-icon {
  vertical-align: middle;
}
body .ui-menu.ui-shadow, body .ui-menu .ui-shadow {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
body .ui-menu :first-child.ui-submenu-header {
  margin: 0 0 1px 0;
}
body .ui-menu .ui-submenu-header {
  margin: 1px 0 1px 0;
  border: 0 none;
  background-color: #f1f1f1;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0.75em 1.5em;
  font-weight: 400;
  color: #777777;
}
body .ui-menubar {
  padding: 0;
  background-color: #f1f1f1;
}
body .ui-menubar .ui-submenu-list .ui-menuitem-link .ui-submenu-icon {
  right: 1em;
}
body .ui-menubar .ui-menubar-root-list > .ui-menuitem > .ui-menuitem-link {
  padding: 0.5em 1em;
  border: 1px solid transparent;
}
body .ui-menubar .ui-menubar-root-list > .ui-menuitem > .ui-menuitem-link .ui-submenu-icon {
  vertical-align: middle;
}
body .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-contextmenu {
  padding: 0;
}
body .ui-contextmenu .ui-menuitem-link .ui-submenu-icon {
  right: 1em;
}
body .ui-contextmenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-slidemenu {
  padding: 0;
}
body .ui-slidemenu .ui-menuitem {
  margin: 0;
}
body .ui-slidemenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-slidemenu .ui-menuitem-link .ui-submenu-icon {
  right: 1em;
}
body .ui-slidemenu .ui-slidemenu-backward {
  padding: 0.5em 1em;
  width: 100%;
  color: #777777;
  background-color: #f1f1f1;
  box-sizing: border-box;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0 none;
  border-top: 1px solid #eaeaea;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
body .ui-slidemenu .ui-slidemenu-backward span:last-child {
  vertical-align: bottom;
}
body .ui-slidemenu .ui-slidemenu-backward:hover {
  background-color: #dcdcdc;
}
body .ui-tieredmenu {
  padding: 0;
}
body .ui-tieredmenu .ui-menuitem-link .ui-submenu-icon {
  right: 1em;
}
body .ui-tieredmenu .ui-menuitem {
  margin: 0;
}
body .ui-tieredmenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-megamenu {
  padding: 0;
  background-color: #f1f1f1;
}
body .ui-megamenu .ui-megamenu-submenu-header {
  margin: 1px 0 1px 0;
  border: 0 none;
  background-color: #f1f1f1;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0.75em 1.5em;
  font-weight: 700;
  color: #777777;
}
body .ui-megamenu .ui-megamenu-submenu .ui-menuitem .ui-menuitem-link {
  line-height: 1em;
}
body .ui-megamenu .ui-menuitem-link {
  border: 1px solid transparent;
}
body .ui-megamenu .ui-menuitem {
  margin: 0;
}
body .ui-megamenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-megamenu .ui-megamenu-root-list > .ui-menuitem > .ui-menuitem-link .ui-submenu-icon {
  vertical-align: middle;
}
body .ui-tabmenu {
  border: 0 none;
}
body .ui-tabmenu .ui-tabmenu-nav {
  padding: 0;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
  margin: 0;
  position: static;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link {
  color: #858585;
  padding: 0.5em 1em;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-icon, body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-text {
  vertical-align: middle;
  display: inline-block;
  float: none;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-icon {
  color: #858585;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:not(.ui-state-active):not(.ui-state-disabled):hover {
  background-color: #dcdcdc;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:not(.ui-state-active):not(.ui-state-disabled):hover .ui-menuitem-icon {
  color: #858585;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active .ui-menuitem-link {
  background-color: #5B6BBF;
  color: #ffffff;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active .ui-menuitem-link .ui-menuitem-icon {
  color: #ffffff;
}
body .ui-menubutton .ui-button.ui-button-text-icon-left .ui-icon {
  margin-top: -0.75em;
}
body .ui-panelmenu .ui-icon {
  position: static;
}
body .ui-panelmenu .ui-panelmenu-header {
  background-color: #f1f1f1;
  padding: 0;
  font-size: 13px;
  color: #858585;
  margin-bottom: 1px;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
body .ui-panelmenu .ui-panelmenu-header a {
  padding: 0.5em 1em;
  color: #858585;
  border-bottom: 1px solid #ffffff;
}
body .ui-panelmenu .ui-panelmenu-header:not(.ui-state-active):hover {
  background-color: #dcdcdc;
}
body .ui-panelmenu .ui-panelmenu-header:not(.ui-state-active):hover .ui-icon {
  color: #858585;
}
body .ui-panelmenu .ui-panelmenu-header.ui-state-active {
  background-color: #5B6BBF;
}
body .ui-panelmenu .ui-panelmenu-header.ui-state-active a {
  color: #ffffff;
}
body .ui-panelmenu .ui-panelmenu-header.ui-state-active .ui-icon {
  color: #ffffff;
}
body .ui-panelmenu .ui-panelmenu-content {
  padding: 0.25em 0;
}
body .ui-panelmenu .ui-panelmenu-content .ui-menuitem-link {
  padding: 0.5em 1em;
  color: #777777;
  -moz-transition: background-color;
  -o-transition: background-color;
  -webkit-transition: background-color;
  transition: background-color;
}
body .ui-panelmenu .ui-panelmenu-content .ui-menuitem-link:hover {
  background-color: #e2e2e2;
  color: #777777;
}
body .ui-panelmenu .ui-panelmenu-content .ui-menuitem-link > span.ui-icon {
  display: inline-block;
  vertical-align: middle;
  left: auto;
  margin-right: 0.3em;
}
body .ui-panelmenu .ui-panelmenu-content .ui-menuitem-link > span.ui-icon.ui-panelmenu-icon.ui-icon-triangle-1-s {
  margin-top: -0.3em;
}
body .ui-panelmenu .ui-panelmenu-content .ui-menuitem-link .ui-menuitem-text {
  display: inline-block;
  vertical-align: middle;
}

body .ui-progressbar {
  border: 0 none;
  background-color: #e3e3e3;
}
body .ui-progressbar .ui-progressbar-value {
  border: 0 none;
  background: #808ccd;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .ui-progressbar .ui-progressbar-label {
  margin-top: -1px;
}
body .ui-galleria .ui-galleria-nav-prev {
  font-size: 18px;
  margin-bottom: -5px;
  margin-left: -5px;
}
body .ui-galleria .ui-galleria-nav-next {
  font-size: 18px;
  margin-bottom: -5px;
  margin-right: -5px;
}
body .ui-terminal input {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  font-size: 13px;
}

/* Add your customizations of the theme here */
