<!DOCTYPE html>
<html>

<body class="login-body">
  <div class="ui-messages ui-widget ui-corner-all" style="height: 5em;">
    <ul>
      <p-toast></p-toast>
    </ul>
  </div>
  <form #formlogin="ngForm">
    <div class="p-grid">
      <div class="p-col-12 p-md-12 p-lg-12">

        <div class="logo-container" style="text-align: center;">
          <a>
            <img src="assets/imagenes/logo-ADV.png" class="logo" />
          </a>
        </div>
      </div>
    </div>
    <div class="login-panel ui-fluid">
      <div class="p-grid">
        <div class="ui-g-12 p-md-12 p-lg-12">
          <div class="logo-container" style="text-align: center;">
            <h1 style="color:#ffffff">BIENVENIDO</h1>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g login-container">
          <div class="ui-g-12 p-md-12 p-lg-12">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon fa fa-fw fa-user ui-inputgroup-ico"
                style="margin-top: 0!important; padding-top: 10.8px!important; padding-bottom: 12px!important;"></span>
              <input class="ui-inputtext" style="margin-left: -2.5px;" type="text" [(ngModel)]="user" [pKeyFilter]="noSymbols" pInputText
                placeholder="Usuario" name="cu" mayusculas autocomplete="off" autofoco required maxlength="20">
            </div>
          </div>
          <div class="ui-g-12 p-md-12 p-lg-12">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon" style="margin-top: 0!important; padding-top: 10.8px!important; padding-bottom: 12px!important;">
                <i class="fa fa-fw fa-key"></i>
              </span>
              <input class="ui-inputtext" pPassword type="password" style="margin-left: -2.5px;" [pKeyFilter]="blockSpace" placeholder="Clave"
                name="pp" [(ngModel)]="pass" autocomplete="off" required maxlength="20" (keyup.enter)="ejecutalogin()">

            </div>
          </div>

          <div class="ui-g-12 p-md-12 p-lg-12 button-container">
            <button type="button" class=" ui-button-login" [disabled]="!formlogin.valid" (click)="ejecutalogin()">
              <span class="ui-button-text button-login ui-c">INGRESAR</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>


<p-dialog [(visible)]="displayDialog" [modal]="true" [minY]="70" [maximizable]="false" [baseZIndex]="10000" styleClass="menu" [showHeader]="false">
  <div class="ui-g ui-nopad">
    <div class=" ui-g-12 ui-md-12 ui-lg-12 ui-xl-12 ui-nopad" style="text-align: right;">
      <button class="ui-button-secondary button-salir" pButton icon="pi pi-times" (click)="btnCancelar()"></button>
    </div>
  </div>
  <div class="card" style="margin-top: 5px;">
    <div class="ui-g ui-nopad">
      <div class=" ui-g-12 ui-md-6 ui-lg-6 ui-xl-6 button-menu" style="cursor: pointer" *ngFor="let reg of registros" (click)="onRowSelect(reg)">
        <span>
          <img src="assets/imagenes/login/{{reg.Icono}}" class="button-icon-menu ">
          <h3 class="button-name-menu">{{reg.Nombre}}</h3>
        </span>
      </div>
    </div>
  </div>
</p-dialog>


</html>
