.login-body .login-panel input {
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  color: #747474!important;
}

.login-body {
  background-image: url("../../../assets/imagenes/login/fondo2.jpg")!important;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  bottom: 0px !important;
  margin: 0 !important;
  padding: 0%;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.login-body .login-panel {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: url("../../../assets/imagenes/login/panel2.png") !important;
  background-size: 100% 100%;
  /*cambio wace*/
  border: solid 1px #dce2e7;
  width: 422px;
  height: 400px;
  margin: 0 auto 40px;
  text-align: center;
  box-sizing: border-box;
  color: #afafc0;
  border-radius: 15px;
  margin-top: 50px;
  /*cambio wace*/
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.25);
}

.login-body .login-panel .login-container {
  padding: 0px 70px;
}

.logo-container {
  margin: 50px auto 0px;
}

.logo {
  vertical-align: bottom;
  height: 70px!important;
}

.ui-inputgroup .ui-inputtext:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.ui-button-login {
  padding: 10px 10px 10px 15px !important;
  margin-top: 30px !important;
  border-radius: 15px !important;
  background-color: #ac2836;
  height: 40px;
  width: 90%;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid transparent;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.ui-button-login:hover {
  background-color: #5091ec;
  cursor: pointer;
}

.fa-user:before {
  color: #878686!important;
}

.fa-key:before {
  color: #878686!important;
}

.button-login {
  font-size: 14px!important;
}

/*********media*******************/

@media (max-width: 640px) {
  .logo-container {
    margin: 0!important
  }
  .logo {
    height: 40px!important;
  }
  .login-body .login-panel {
    width: 300px;
    height: 340px;
  }
}